<div class="row">
  <div class="col-12 mt-5 ">
    <p class="bc-2">Charge/Fee Configuration</p>
  </div>
</div>

<form [formGroup]="chargesTypesForm" autocomplete="off">
  <div *ngIf="showChargeTypeedit">
    <div class="row mt-1">
      <div class="col-md-6 col-xl-4">
        <div class="form-group">
          <label id="pLoantype" title="Loan Type">Loan Type</label>
          <select class="form-control " formControlName="pLoantypeid" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pLoantype }" (change)="pLoantype_Change($event)">
            <option value="" ng-selected="selected">Select</option>
            <option *ngFor="let loanType of lstLoanTypes;trackBy: trackByFn" [value]="loanType.pLoantypeid">{{loanType.pLoantype}}</option>
          </select>
          <div class="invalid-feedback">
            <span *ngIf="chargesConfigErrorMessage.pLoantype">{{chargesConfigErrorMessage.pLoantype}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="form-group">
          <label id="pLoanNmae" title="Loan Name">Loan Name</label>
          <select class="form-control" formControlName="pLoanid" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pLoanNmae }" (change)="pLoanNmae_Change($event)">
            <option value="" ng-selected="selected">Select</option>
            <option *ngFor="let loanname of lstLoanNames;trackBy: trackByFn" [value]="loanname.pLoanid">{{loanname.pLoanNmae}}</option>
          </select>
          <div class="invalid-feedback">

            <span *ngIf="chargesConfigErrorMessage.pLoanNmae">{{chargesConfigErrorMessage.pLoanNmae}}</span>
          </div>
        </div>
      </div>

    </div><!---row end-->




    <div class="row mt-1">
      <div class="col-md-6 col-xl-4">
        <div class="form-group">
          <label id="pChargename" title="Charge Name">Charge Name </label>
          <select class="form-control" formControlName="pChargeid" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargename }" (change)="pChargename_Change($event)">
            <option value="" ng-selected="selected">Select</option>
            <option *ngFor="let chargename of lstChargeNames;trackBy: trackByFn" [value]="chargename.pChargeid">{{chargename.pChargename}}</option>
          </select>
          <div class="invalid-feedback">
            <span *ngIf="chargesConfigErrorMessage.pChargename">{{chargesConfigErrorMessage.pChargename}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mt-4">
        <div class="d-flex justify-content-end  mt-2">
          <!--<a class="btn btn-b-icon border-0" appButtonDoubleClick [debounceTime]="1000" (debounceClick)="saveLoanChargeTypes()"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3" />Add and Save</a>-->

          <button appButtonDoubleClick [debounceTime]="1000" (debounceClick)="saveLoanChargeTypes()" class="btn btn-b-icon px-3 border-0"
                  [disabled]="disablechargetypesavebutton">
            <i class="fa"
               [ngClass]="{'fa-spin fa-spinner': disablechargetypesavebutton, 'fa-check': !disablechargetypesavebutton}"></i> {{chargetypesavebutton}}
          </button>

        </div>
      </div>

    </div> <!---row end-->
    <!-- form-end -->
  </div>

  <div class="row">
    <div class="col-md-12 col-xl-12 mt-2">
      <div >
        <table id="loanChargeTypeDataTable"
               class="table"
               cellspacing="0" width="100%" style="width:100%">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form><!-- row end -->
<form [formGroup]="chargesConfigForm" autocomplete="off">
  <!-- chargeamount strat -->
  <div id="chargeamount">
    <div *ngIf="showChargeConfig">
      <!---->
      <div class="row">
        <div class="col-12">
          <p class="bc-2">Charge Amount - <label> <b>{{chargedetails}}</b> </label></p>
        </div>
      </div>

      <fieldset [disabled]="disableexistingdata">
        <div class="row" hidden>
          <div class="col-12 mb-4">
            <div class="d-flex">
              <div class="form-group p-0 m-0 ">
                <label>Select whether Charge / Fee amount Is calculated on</label>
              </div>
              <div class="talk-bubble position-absolute  tri-right  round left-top" style="left:400px;">
                <div class="talktext">
                  <p>The charge/fee cannot exceed the <strong class="sec-head-bold"> maximum fee / charge amount</strong></p>
                </div>
              </div>
            </div>
            <div id="pChargecalonfield" title="">
              <div class="form-group m-0 p-0">
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="pChargecalonfield" id="disbchargecalc1" value="Sanctioned Loan amount" formControlName="pChargecalonfield" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargecalonfield }">
                  <label class="mt-1" for="disbchargecalc1">Sanctioned Loan amount </label>
                </div>
              </div>
              <div class="form-group m-0 p-0">
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="pChargecalonfield" id="disbchargecalc2" value="Disbursed Loan amount" formControlName="pChargecalonfield" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargecalonfield }">
                  <label class="mt-1" for="disbchargecalc2">Disbursed Loan amount</label>
                </div>
              </div>
              <div class="invalid-feedback-cst">
                <span *ngIf="chargesConfigErrorMessage.pChargecalonfield">{{chargesConfigErrorMessage.pChargecalonfield}}</span>
              </div>
            </div>
          </div>
        </div>



        <div class="row mt-4">
          <div class="col-12">

            <div id="pIsChargedependentOnLoanRange" title="Charge is Dependent on loan range">
              <div class="form-check radio-btn form-check-inline mr-5">
                <input class="form-check-input" type="radio" name="pIsChargedependentOnLoanRange" id="chargeloanrange" value="YES" formControlName="pIsChargedependentOnLoanRange" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pIsChargedependentOnLoanRange }" (change)="chargedependentOnLoanRangeChange('SAVE')">
                <label class="mt-1" for="chargeloanrange"> Charge is <b>Dependent</b> on loan range</label>
              </div>

              <div class="form-check radio-btn form-check-inline mr-5">
                <input class="form-check-input" type="radio" name="pIsChargedependentOnLoanRange" id="nondepend" value="NO" formControlName="pIsChargedependentOnLoanRange" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pIsChargedependentOnLoanRange }" (change)="chargedependentOnLoanRangeChange('SAVE')">
                <label class="mt-1" for="nondepend">Charge is <b>Not Dependent</b> on loan range</label>
              </div>
            </div>
            <div class="invalid-feedback-cst">
              <span *ngIf="chargesConfigErrorMessage.pIsChargedependentOnLoanRange">{{chargesConfigErrorMessage.pIsChargedependentOnLoanRange}}</span>
            </div>

          </div>
        </div>
      </fieldset>

        <hr>

        <div class="row" id="ChargeConfigDetails" *ngIf="showChargeConfigDetails">
          <!---->
          <div class=" col-md-4 col-xl-4">

            <div class="form-group">
              <label id="pApplicanttype" title="Applicant type">Applicant type</label>
              <select class="form-control" formControlName="pApplicanttype" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pApplicanttype }"  (change)="applicanttype_Change($event)">
                <option value="" ng-selected="selected">Select</option>
                <option *ngFor="let applicant of lstApplicantTypes;trackBy: trackByFn" [value]="applicant.pApplicanttype">{{applicant.pApplicanttype}}</option>
              </select>
              <div class="invalid-feedback">
                <span *ngIf="chargesConfigErrorMessage.pApplicanttype">{{chargesConfigErrorMessage.pApplicanttype}}</span>
              </div>
            </div>

          </div>

          <div class=" col-md-4 col-xl-4">
            <div class="form-group">
              <label id="pLoanpayin" title="Loan Pay In">Loan Pay In</label>
              <select class="form-control" formControlName="pLoanpayin" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pLoanpayin }">
                <option value="" ng-selected="selected">Select</option>
                <option *ngFor="let loanPayIn of lstLoanPayIns;trackBy: trackByFn" [value]="loanPayIn.pLoanpayin">{{loanPayIn.pLoanpayin}}</option>
              </select>
              <div class="invalid-feedback">
                <span *ngIf="chargesConfigErrorMessage.pLoanpayin">{{chargesConfigErrorMessage.pLoanpayin}}</span>
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="showChargedependentOnLoanRange">
            <fieldset [disabled]="disableexistingdata">
              <!---->
              <div class="form-group">
                <div id="pIschargerangeapplicableonvalueortenure" title="">
                  <div class="form-check radio-btn form-check-inline mr-5">
                    <input class="form-check-input" type="radio" name="pIschargerangeapplicableonvalueortenure" id="rangevalue" value="Amount" formControlName="pIschargerangeapplicableonvalueortenure" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pIschargerangeapplicableonvalueortenure }" (change)="chargeApplicableOnChange()">
                    <label class="" for="rangevalue">On Value</label>
                  </div>
                  <div class="form-check radio-btn form-check-inline mr-5">
                    <input class="form-check-input" type="radio" name="pIschargerangeapplicableonvalueortenure" id="rangetenure" value="Tenure" formControlName="pIschargerangeapplicableonvalueortenure" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pIschargerangeapplicableonvalueortenure }" (change)="chargeApplicableOnChange()">
                    <label class="" for="rangetenure">On Tenure </label>
                  </div>
                  <div class="invalid-feedback-cst">
                    <span *ngIf="chargesConfigErrorMessage.pIschargerangeapplicableonvalueortenure">{{chargesConfigErrorMessage.pIschargerangeapplicableonvalueortenure}}</span>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

        </div>
     




      <div *ngIf="showChargedependentOnLoanRange">
        <!---->
        <hr>
        <div class="row">
          
          <div class="col-md-6 col-xl-6">
              <h2 class="sec-head">Range</h2>
            
            <div class="row">
              <div class="">
                <div class="d-flex">
                  <div class="col-md-4 col-xl-4">
                    <div class="form-group">
                      <label id="pMinLoanAmountorTenure" title="{{setMinLoanAmountorTenureName}}">
                        {{setMinLoanAmountorTenureName}}
                      </label>
                      <input class="form-control"  type="text" value="" placeholder="Enter {{setMinLoanAmountorTenureName}}" formControlName="pMinLoanAmountorTenure" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pMinLoanAmountorTenure }" (blur)="loanAmountorTenureChange(true);loanChargeAmountCalculation()" appRoundecimal="{{valuorTenureMaxLength}}" appMycurrencyFormatter>
                      <div class="invalid-feedback">
                        <span *ngIf="chargesConfigErrorMessage.pMinLoanAmountorTenure">
                          {{
chargesConfigErrorMessage.pMinLoanAmountorTenure
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4">
                    <div class="form-group">
                      <label id="pMaxLoanAmountorTenure" title="{{setMaxLoanAmountorTenureName}}">{{setMaxLoanAmountorTenureName}}</label>
                      <input class="form-control"  type="text" value="" placeholder="Enter {{setMaxLoanAmountorTenureName}}" formControlName="pMaxLoanAmountorTenure" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pMaxLoanAmountorTenure }" (blur)="loanAmountorTenureChange(true);loanChargeAmountCalculation()" appRoundecimal="{{valuorTenureMaxLength}}" appMycurrencyFormatter>
                      <div class="invalid-feedback">
                        <span *ngIf="chargesConfigErrorMessage.pMaxLoanAmountorTenure">{{chargesConfigErrorMessage.pMaxLoanAmountorTenure}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-xl-4">
                      <div class="form-group">
                        <label id="pChargePercentage" title="Percentage (%)">Percentage (%)</label>
                        <input class="form-control" appRoundecimal="2@3"  type="text" value="" formControlName="pChargePercentage" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargePercentage }" (blur)="loanChargeAmountCalculation()" placeholder="Enter Percentage (%)">
                        <div class="invalid-feedback">
                          <span *ngIf="chargesConfigErrorMessage.pChargePercentage">{{chargesConfigErrorMessage.pChargePercentage}}</span>
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
       
          <div class="col-md-4 col-xl-4" *ngIf="showminormaxcharge">
            <h2 class="sec-head">Charge</h2>
            <div class="row">
              <div class="col-md-6 col-xl-6">
                <div class="form-group">
                  <label id="pMinchargesvalue" title="Min Charge">Min Charge </label>
                  <input class="form-control"  type="text" value="" formControlName="pMinchargesvalue" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pMinchargesvalue }" (blur)="loanChargeChange(true)"  appRoundecimal="12@0" appMycurrencyFormatter>
                  <div class="invalid-feedback">
                    <span *ngIf="chargesConfigErrorMessage.pMinchargesvalue">{{chargesConfigErrorMessage.pMinchargesvalue}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-6">
                <div class="form-group">
                  <label id="pMaxchargesvalue" title="Max Charge">Max Charge</label>
                  <input class="form-control"  type="text" value="" formControlName="pMaxchargesvalue" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pMaxchargesvalue }" (blur)="loanChargeChange(true)"  appRoundecimal="12@0" appMycurrencyFormatter>
                  <div class="invalid-feedback">
                    <span *ngIf="chargesConfigErrorMessage.pMaxchargesvalue">{{chargesConfigErrorMessage.pMaxchargesvalue}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="row" *ngIf="showChargeAmountButtons">
          <div class="col-md-12 col-xl-12">
            <div class="d-flex justify-content-end  mt-4">
              <a appButtonDoubleClick [debounceTime]="1000"  (debounceClick)="clearLoanChargeTypesAmounts()" class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear Grid</a>
              <a appButtonDoubleClick [debounceTime]="1000"  (debounceClick)="addLoanChargeTypesAmounts()" class="btn btn-b-icon float-left ml-0"><img src="assets/images/icon-add-white.svg" width="20" height="20"> Add to Grid</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div id="ChargeAmountsDataTable">
        <div class="col-md-12 col-xl-12 mt-2">
          <div class="table-responsive">
            <table id="loanChargeAmountsDataTable"
                   class="table"
                   cellspacing="0">
              <thead>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    <!--START  -->

    <div *ngIf="showChargeConfig">
      <div class="col-md-6 col-xl-4" *ngIf="showChargenotdependentOnLoanRange">

        <div class="form-group">
          <h2 id="pChargevaluefixedorpercentage" title="Charge Type" class="sec-head">Charge Type</h2>

          <div class="d-flex">
            <div class="form-check form-check-inline mr-5 mb-2">
              <input class="form-check-input" type="radio" name="pChargevaluefixedorpercentage" id="chargetypefixed" value="Fixed"  formControlName="pChargevaluefixedorpercentage" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargevaluefixedorpercentage }" (change)="chargeTypeChange()">
              <label class="mt-1" for="chargetypefixed"> Fixed </label>
            </div>
            <div *ngIf="showChargeType" id="pChargeAmount" title="Fixed">
              <input class="form-control w-auto" type="text" placeholder="Enter Amount" value="" formControlName="pChargeAmount" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargeAmount }" (blur)="chargeTypeTextChange()"  appRoundecimal="8@0" appMycurrencyFormatter>
              <div class="invalid-feedback">
                <span *ngIf="chargesConfigErrorMessage.pChargeAmount">{{chargesConfigErrorMessage.pChargeAmount}}</span>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="form-check form-check-inline mr-5 mb-2">
              <input class="form-check-input" type="radio" name="pChargevaluefixedorpercentage" id="chargetypeper" value="Percentage" formControlName="pChargevaluefixedorpercentage" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargevaluefixedorpercentage }" (change)="chargeTypeChange()" >
              <label class="mt-1" for="chargetypeper"> Percentage </label>
            </div>
            <div *ngIf="!showChargeType" id="pChargeTypePercentage" title="Percentage">
              <input class="form-control w-auto" appRoundecimal="2@3" type="text" placeholder="Enter Percentage" value="" formControlName="pChargeTypePercentage" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargeTypePercentage }">
              <div class="invalid-feedback">
                <span *ngIf="chargesConfigErrorMessage.pChargeTypePercentage">{{chargesConfigErrorMessage.pChargeTypePercentage}}</span>
              </div>
            </div>
          </div>

          <div class="invalid-feedback-cst">
            <span *ngIf="chargesConfigErrorMessage.pChargevaluefixedorpercentage">{{chargesConfigErrorMessage.pChargevaluefixedorpercentage}}</span>
          </div>
        </div>
      </div>

      <!-------------------------GST SECTION START--------->
      <div class="row pl-3 mt-4">
        <div class="col-5 border p-2">
          <h2 class="sec-head-bold mt-1" id="pGsttype" title="GST Type"> GST Type</h2>
          <div>
            <div class="d-flex">
              <div class="form-group m-0 p-0">
                <div class="form-check form-check-inline mr-5">
                  <input class="form-check-input" type="radio" name="pGsttype" id="chargedependgstinc" value="Include" formControlName="pGsttype" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pGsttype }" (change)="taxTypeChange()">
                  <label class="mt-1" for="chargedependgstinc"> Include</label>
                </div>
              </div>
              <div class="form-group m-0 p-0" *ngIf="showInclude">
                <div class="d-flex">
                  <label class="mt-1 mr-2" for="inlineRadio1" id="pGstvalue" title="GST %"> GST %</label>
                  <!--<input class="form-control w-auto" type="text" placeholder="Enter GST %" formControlName="pGstvalue" appRoundecimal="2@0">-->

                  <select class="form-control " formControlName="pGstvalue" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pGstvalue }" >
                    <option value="" ng-selected="selected">Select</option>
                    <option *ngFor="let gst of gstpercentagelist;trackBy: trackByFn" [value]="gst.pGstvalue">{{gst.pGstvalue}}</option>
                  </select>

                </div>
                <div class="invalid-feedback-cst">
                  <span *ngIf="chargesConfigErrorMessage.pGstvalue">{{chargesConfigErrorMessage.pGstvalue}}</span>
                </div>
              </div>
            </div>


            <div class="d-flex">
              <div class="form-group m-0 p-0">
                <div class="form-check form-check-inline mr-5 mt-2 mb-2">
                  <input class="form-check-input" type="radio" name="pGsttype" id="chargedependgstexc" value="Exclude" formControlName="pGsttype" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pGsttype }" (change)="taxTypeChange()">
                  <label class="mt-1" for="chargedependgstexc"> Exclude </label>
                </div>
              </div>
              <div class="form-group m-0 p-0" *ngIf="showExclude">
                <div class="d-flex">
                  <label class="mt-1 mr-2" for="inlineRadio1" id="pGstvalue" title="GST %"> GST %</label>
                  <select class="form-control " formControlName="pGstvalue" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pGstvalue }">
                    <option value="" ng-selected="selected">Select</option>
                    <option *ngFor="let gst of gstpercentagelist;trackBy: trackByFn" [value]="gst.pGstvalue">{{gst.pGstvalue}}</option>
                  </select>

                </div>
                <div class="invalid-feedback-cst">
                  <span *ngIf="chargesConfigErrorMessage.pGstvalue">{{chargesConfigErrorMessage.pGstvalue}}</span>
                </div>
              </div>
            </div>


            <div class="form-group m-0 p-0">
              <div class="form-check form-check-inline mr-5">
                <input class="form-check-input" type="radio" name="pGsttype" id="chargedependgstnone" value="NO" formControlName="pGsttype" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pGsttype }" (change)="taxTypeChange()">
                <label class="mt-1" for="chargedependgstnone"> No GST</label>
              </div>
            </div>

            <div class="invalid-feedback-cst">
              <span *ngIf="chargesConfigErrorMessage.pGsttype">{{chargesConfigErrorMessage.pGsttype}}</span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
          <div class="col-md-4 col-xl-4">
            <label id="pChargeEffectFrom" title="Effective From">This Charge is Effective From</label>
            <input class="form-control" readonly type="text" [bsConfig]="pChargeEffectFromConfig" bsDatepicker formControlName="pChargeEffectFrom" maxlength="10" [ngClass]="{ 'is-invalid': chargesConfigErrorMessage.pChargeEffectFrom }" >
            <div class="invalid-feedback">
              <span *ngIf="chargesConfigErrorMessage.pChargeEffectFrom">{{chargesConfigErrorMessage?.pChargeEffectFrom}}</span>
            </div>
            <!--<small class="form-text">Error message or hint will go here</small>-->
          </div>
      </div>
      <!-------------------------GST SECTION END--------->


      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="d-flex justify-content-end  mt-4"> <a appButtonDoubleClick [debounceTime]="1000"  (debounceClick)="addLoanChargeTypesConfig()" class="btn btn-b-icon px-3 border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-3" />{{chargeConfigButtonName}}</a></div>
        </div>




      </div>
      <!--END-->

    </div>
    <div class="row" id="ChargeConfigDataTable">

      <div class="col-md-12 col-xl-12 mt-2">
        <div class="table-responsive">
          <table id="loanChargeConfigDataTable"
                 class="table"
                 cellspacing="0" width="100%" style="width:100%">
            <thead>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- chargeamount end -->



    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="d-flex justify-content-end mt-4">
          <a appButtonDoubleClick [debounceTime]="1000" (debounceClick)="clearLoanChargeConfig()" class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear</a>

          <!--<a appButtonDoubleClick [debounceTime]="1000" (debounceClick)="saveLoanChargeConfig()" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3">Submit</a>-->

          <button appButtonDoubleClick [debounceTime]="1000" (debounceClick)="saveLoanChargeConfig()" class="btn btn-b-icon px-3 border-0"
                  [disabled]="disablechargeconfigsavebutton">
            <i class="fa"
               [ngClass]="{'fa-spin fa-spinner': disablechargeconfigsavebutton, 'fa-check': !disablechargeconfigsavebutton}"></i> {{chargeconfigsavebutton}}
          </button>


        </div>
      </div>
    </div>
  </div>
</form>
