<div *ngIf="showPage">
    <form [formGroup]="contactForm" autocomplete="off">
        <div class="row">
            <div class="col-12 ">
                <h2 class="bc-2">Personal Details</h2>
            </div>
            <!-- <div class="col-md-12 col-xl-12"> -->
            <div class="col-md-4 col-xl-4 p-0">
                <div class="col-md-12 col-xl-12">
                    <div class="form-group">
                        <label id="pName" class="required-field" title="First Name">First Name</label>
                        <label id="pTitleName" title="Title" hidden></label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <!--<fieldset [disabled]="disablecontactname">-->
                                <!--<select class=" btn-lg-icon rounded-left pl-1" formControlName="pTitleName" [ngClass]="{ 'is-invalid': contactValidationErrors.pTitleName }">
                      <option value="" ng-selected="selected">Select</option>
                      <option *ngFor="let titletype of titleDetails" [value]="pTitleName">{{titletype.pTitleName}}</option>
                  </select>-->
                                <!--</fieldset>-->
                                <ng-select [items]="titleDetails" title="First Name" id="pTitleName" formControlName="pTitleName" bindLabel="pTitleName" bindValue="pTitleName" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=true
                                    [ngClass]="{ 'is-invalid': contactValidationErrors.pTitleName }">
                                </ng-select>
                            </div>
                            <fieldset [disabled]="disablecontactname">
                                <input appTitlecaseword appCharactersonly class="form-control" maxlength="75" type="text" placeholder="Enter First Name" formControlName="pName" [ngClass]="{ 'is-invalid': contactValidationErrors.pName }" (blur)="filter($event)">
                            </fieldset>
                            <div class="invalid-feedback">
                                <span *ngIf="contactValidationErrors.pName">{{contactValidationErrors?.pTitleName}}</span>
                                <span *ngIf="contactValidationErrors.pName">{{contactValidationErrors?.pName}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--col-end-->
                <div class="col-md-12 col-xl-12">
                    <div class="form-group">

                        <label id="pSurName" title="Last Name">Last Name</label>
                        <fieldset [disabled]="disablecontactname">


                            <input class="form-control" type="text" maxlength="20" placeholder="Enter Last Name" appTitlecaseword appCharactersonly formControlName="pSurName" [ngClass]="{ 'is-invalid': contactValidationErrors.pSurName }" (change)="filter1($event)">
                        </fieldset>
                        <!-- <app-validation-message [messgae]="contactValidationErrors?.pSurName">
                    </app-validation-message> -->
                        <div class="invalid-feedback">
                            <span *ngIf="contactValidationErrors.pSurName">{{contactValidationErrors?.pSurName}}</span>
                        </div>
                    </div>
                </div>

                <!--col-end-->
                <div class="col-md-12 col-xl-12">
                    <div class="form-group">
                        <label id="pFatherName" title="Father Name">Father Name</label>
                        <input class="form-control" type="text" maxlength="75" placeholder="Enter Father Name" appTitlecaseword appCharactersonly formControlName="pFatherName" [ngClass]="{ 'is-invalid': contactValidationErrors.pFatherName }">
                        <div class="invalid-feedback">
                            <span *ngIf="contactValidationErrors.pFatherName">{{contactValidationErrors?.pFatherName}}</span>
                        </div>
                        <!--<small class="form-text">Error message or hint will go here</small>-->
                    </div>
                </div>
                <!--col-end-->
                <div class="col-md-12 col-xl-12">
                    <div class="form-group">
                        <label id="pSpouseName" title="Spouse Name">Spouse Name</label>
                        <input class="form-control" type="text" maxlength="75" placeholder="Enter Spouse Name" appTitlecaseword appCharactersonly formControlName="pSpouseName" [ngClass]="{ 'is-invalid': contactValidationErrors.pSpouseName }">
                        <div class="invalid-feedback">
                            <span *ngIf="contactValidationErrors.pSpouseName">{{contactValidationErrors?.pSpouseName}}</span>
                        </div>
                        <!--<small class="form-text">Error message or hint will go here</small>-->
                    </div>
                </div>
                <!--col-end-->
                <div class="d-flex col-md-12 col-xl-12">
                    <div class="col-md-6 col-xl-6 pl-0">
                        <label id="pDob" title="Date of Birth">Date of Birth</label>
                        <input class="form-control" readonly type="text" bsDatepicker [bsConfig]="pDobConfig" formControlName="pDob" maxlength="10" [ngClass]="{ 'is-invalid': contactValidationErrors.pDob }" (ngModelChange)="ageCalculation()">
                        <div class="invalid-feedback">
                            <span *ngIf="contactValidationErrors.pDob">{{contactValidationErrors?.pDob}}</span>
                        </div>
                        <!--<small class="form-text">Error message or hint will go here</small>-->
                    </div>
                    <div class="col-md-6 col-xl-6 pr-0">
                        <label id="pAge" title="Age">Age</label>
                        <input class="form-control" type="text" readonly formControlName="pAge" maxlength="20" [ngClass]="{ 'is-invalid': contactValidationErrors.pAge }">
                        <div class="invalid-feedback">
                            <span *ngIf="contactValidationErrors.pAge">{{contactValidationErrors?.pAge}}</span>
                        </div>
                        <!--<small class="form-text">Error message or hint will go here</small>-->
                    </div>
                </div>



                <div class="col-md-12 col-xl-12">
                    <div class="form-group m-0">
                        <label id="pGender" title="Gender" class="mt-2 required-field">Gender</label>
                    </div>

                    <div class="form-check form-check-inline radio-btn-secondary">
                        <input class="form-check-input" type="radio" id="male" name="pGender" value="Male" formControlName="pGender" [ngClass]="{ 'is-invalid': contactValidationErrors.pGender }">
                        <label class="p-0 mt-1 ml-1" for="male"> Male &nbsp; &nbsp; </label>
                    </div>
                    <div class="form-check form-check-inline radio-btn-secondary">
                        <input class="form-check-input" type="radio" id="female" name="pGender" value="Female" formControlName="pGender" [ngClass]="{ 'is-invalid': contactValidationErrors.pGender }">
                        <label class="p-0 mt-1 ml-1 " for="female"> Female &nbsp; &nbsp;</label>
                    </div>
                    <div class="form-check form-check-inline radio-btn-secondary">
                        <input class="form-check-input" type="radio" name="pGender" id="tgender" value="Third Gender" formControlName="pGender" [ngClass]="{ 'is-invalid': contactValidationErrors.pGender }">
                        <label class="p-0 mt-1 ml-1" for="tgender"> Third Gender </label>
                    </div>
                    <div class="invalid-feedback-cst">
                        <span *ngIf="contactValidationErrors.pGender">{{contactValidationErrors?.pGender}}</span>
                    </div>

                </div>


                <!-- <div class="col-md-12 col-xl-12">
                    <div class="form-group">
                        <label>Upload Photo</label>
                        <div class="input-group">
                            <input type="file" #fileInput class="form-control" (change)="uploadAndProgress($event,fileInput.files)"> -->

                <!--c- <div class="input-group-append">
  
                   <button class="btn btn-b-icon px-2 p-0" tabindex="-1" onclick="document.getElementById('upload').click();">
                   <img class="mr-2" src="assets/images/icon-upload-blue.svg" width="16px" height="16px"> Upload</button>
                </div> -c-->
                <!-- </div>
                    </div>
                </div> -->

            </div>
            <div class="col-md-4 col-xl-4 p-0">
                <div class="col-md-12 col-xl-12">

                    <label id="pContactName" title="Mailing Name" class="sec-head">
              Mailing Name (S)
               </label>



                    <div class="section-card">

                        <div class="form-group" *ngIf="showfirstname === true">
                            <div class="form-check form-check-inline radio-btn-secondary">
                                <input class="form-check-input " formControlName="pContactName" type="radio" name="pContactName" id="firstname" value="Firstname">
                                <label class="mt-1" for="firstname"> {{firstnamwithlastname}} </label>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="showlastname === true">
                            <div class="form-check form-check-inline radio-btn-secondary">
                                <input class="form-check-input" type="radio" formControlName="pContactName" name="pContactName" id="lastname" value="Lastname">
                                <label class="mt-1" for="lastname"> {{lastnamwithfirstname}} </label>
                            </div>
                        </div>
                    </div>
                    <!-- <app-validation-message [messgae]="contactValidationErrors?.pContactName">
                        </app-validation-message> -->


                </div>


            </div>

            <div class="col-md-4 col-xl-4">
                <a href="" onclick="document.getElementById('upload').click(); return false"> <img [src]="croppedImage" alt="img" class="rounded-circle" width="140px" height="140px" title="uplaod Photo here" /></a>
                <input id="upload" type="file" #fileInput class="form-control mt-2" id="upload" (change)="uploadAndProgress($event,fileInput.files)">
                <!-- <label class="position-absolute w-100 ml-n3 text-center text-primary" title="100 x 100 photo"> Preview</label> -->

            </div>
        </div>

        <hr class="light">
        <div>
            <!--formArrayName="pcontactdetailsControls"-->
            <div class="row mt-2">
                <!--formGroupName="0"-->
                <div class="col-md-12 col-xl-12">
                    <h2 class="sec-head"> Contact Information </h2>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="form-group ">
                        <label id="pContactNumber" class="required-field" title="Primary Contact Number">
                Primary
                Contact Number
              </label>
                        <input class="form-control" type="text" maxlength="12" placeholder="Enter Primary Contact Number" appNumbersonly formControlName="pContactNumber" [ngClass]="{ 'is-invalid': contactValidationErrors.pContactNumber }">

                        <app-validation-message [messgae]="contactValidationErrors?.pContactNumber">
                        </app-validation-message>
                        <!-- <div class="invalid-feedback">
                  <span *ngIf="contactValidationErrors.pContactNumber">{{contactValidationErrors?.pContactNumber}}</span>
              </div> -->
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <!-- <div class="form-group "> -->
                    <label id="pAlternativeNo" title="Contact Number">Secondary Contact Number</label>
                    <input class="form-control" type="text" maxlength="12" placeholder="Enter Contact Number" appNumbersonly formControlName="pAlternativeNo" [ngClass]="{ 'is-invalid': contactValidationErrors.pAlternativeNo }">
                    <div class="invalid-feedback">
                        <span *ngIf="contactValidationErrors.pAlternativeNo">{{contactValidationErrors?.pAlternativeNo}}</span>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-md-6 col-xl-4">
                    <!-- <div class="form-group "> -->
                    <label id="pEmailId" title="Primary Email ID">Primary Email ID</label>
                    <input class="form-control" type="text" maxlength="75" placeholder="Enter Primary Email ID" appEmailFormat appEmailpattern formControlName="pEmailId" [ngClass]="{ 'is-invalid': contactValidationErrors.pEmailId }" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"
                        onkeydown="return (event.keyCode!=13);">
                    <div class="invalid-feedback">
                        <span *ngIf="contactValidationErrors.pEmailId">{{contactValidationErrors?.pEmailId}}</span>
                    </div>
                    <!-- </div> -->
                </div>
                <hr class="light">
                <div class="col-md-6 col-xl-4">
                    <!-- <div class="form-group "> -->
                    <label id="pEmailId2" title="Email ID">Secondary Email ID</label>
                    <input class="form-control" type="text" maxlength="75" placeholder="Enter Email ID" appEmailFormat appEmailpattern formControlName="pEmailId2" [ngClass]="{ 'is-invalid': contactValidationErrors.pEmailId2 }" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$"
                        onkeydown="return (event.keyCode!=13);">
                    <div class="invalid-feedback">
                        <span *ngIf="contactValidationErrors.pEmailId2">{{contactValidationErrors?.pEmailId2}}</span>
                    </div>
                    <!-- </div> -->
                </div>
                <hr class="light">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xl-12">
                <ul class="nav filtered-tab">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" href="#address" (click)="tabsClick('address')">
                Address
                Details
              </a>
                    </li>
                    <li class="nav-item"><a data-toggle="tab" href="#kyc" (click)="tabsClick('kyc')">KYC Documents</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#bank" (click)="tabsClick('bank')">Bank Details</a></li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active show" id="address">
                        <div formGroupName="pAddressControls">
                            <div class="row">
                                <div class="col-md-12 col-xl-12">
                                    <div class="form-group mt-4 mb-4">
                                        <h2 class="sec-head">Address Details</h2>
                                    </div>
                                </div>

                                <div class="col-md-6  col-xl-4">



                                    <div class="form-group">
                                        <label id="pAddressType" class="required-field" title="Address Type">
                        Address
                        Type
                      </label>
                                        <div class="input-group">

                                            <select class="form-control" formControlName="pAddressType" [ngClass]="{ 'is-invalid': contactValidationErrors?.pAddressType }" (change)="pAddressType_Change($event)">
                          <option value="" ng-selected="selected">Select</option>
                          <option *ngFor="let addtype of addressTypeDetails" [value]="addtype.pAddressType">{{addtype.pAddressType}}</option>
                        </select>


                                            <!--<ng-select class="form-control" title="Address Type" [items]="addressTypeDetails" formControlName="pAddressType" bindLabel="pAddressType" bindValue="pAddressType" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom"
                                   [clearOnBackspace]=true (change)="pAddressType_Change($event)" [ngClass]="{ 'is-invalid': contactValidationErrors.pAddressType }">
  
                        </ng-select>-->





                                            <div class="input-group-append">
                                                <button class="btn btn-lg-icon px-2 p-0" data-toggle="modal" tabindex="-1" data-target="#addresstype">
                            <img src="assets/images/icon-add-blue.svg"
                                 class="" width="18px" height="18px">
                          </button>

                                            </div>

                                        </div>
                                        <app-validation-message [messgae]="contactValidationErrors?.pAddressType">
                                        </app-validation-message>
                                    </div>
                                </div>
                                <hr class="light">
                                <div class="col-md-6  col-xl-4">
                                    <div class="form-group">
                                        <label id="pAddress1" class="required-field" title="Address">Address</label>
                                        <textarea class="form-control" maxlength="150" appAddressformat formControlName="pAddress1" [ngClass]="{ 'is-invalid': contactValidationErrors.pAddress1 }" rows="3"></textarea>
                                        <app-validation-message [messgae]="contactValidationErrors?.pAddress1">
                                        </app-validation-message>


                                        <!-- <div class="invalid-feedback">
                          <span *ngIf="contactValidationErrors.pAddress1">{{contactValidationErrors?.pAddress1}}</span>
                      </div> -->
                                    </div>
                                </div>
                                <div class="col-md-6  col-xl-4">
                                    <div class="form-group">
                                        <label id="pAddress2" class="required-field" title="Area">Area</label>
                                        <input type="text" value="" maxlength="50" placeholder="Enter Area" class="form-control" appAlphanumeric formControlName="pAddress2" [ngClass]="{ 'is-invalid': contactValidationErrors.pAddress2 }">

                                        <app-validation-message [messgae]="contactValidationErrors?.pAddress2">
                                        </app-validation-message>

                                        <!-- <div class="invalid-feedback">
                          <span *ngIf="contactValidationErrors.pAddress2">{{contactValidationErrors?.pAddress2}}</span>
                      </div> -->
                                    </div>
                                </div>


                                <div class="col-md-6  col-xl-4">
                                    <div class="form-group">
                                        <label id="pCity" class="required-field" title="City/Village">City/Village</label>
                                        <input type="text" value="" maxlength="50" placeholder="Enter City/Village" class="form-control" appAlphanumeric appAddressformat formControlName="pCity" [ngClass]="{ 'is-invalid': contactValidationErrors.pCity }">
                                        <app-validation-message [messgae]="contactValidationErrors?.pCity">
                                        </app-validation-message>

                                        <!-- <div class="invalid-feedback">
                          <span *ngIf="contactValidationErrors.pCity">{{contactValidationErrors?.pCity}}</span>
                      </div> -->
                                    </div>
                                </div>
                                <hr class="light">


                                <div class="col-md-6 col-xl-4">
                                    <div class="form-group">
                                        <label id="pCountry" class="required-field" title="Country">Country</label>


                                        <ng-select id="pCountry" title="Country" [items]="countryDetails" formControlName="pCountryId" bindLabel="pCountry" bindValue="pCountryId" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=true
                                            (change)="pCountry_Change($event)" [ngClass]="{ 'is-invalid': contactValidationErrors.pCountry }">

                                        </ng-select>
                                        <app-validation-message [messgae]="contactValidationErrors?.pCountry">
                                        </app-validation-message>
                                        <!-- <select id="" class="form-control" formControlName="pCountryId" [ngClass]="{ 'is-invalid': contactValidationErrors.pCountry }" (change)="pCountry_Change($event)">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let country of countryDetails" [value]="country.tbl_mst_country_id">{{country.country_name}}</option>
                      </select>
                                  <div class="invalid-feedback">
                                      <span *ngIf="contactValidationErrors.pCountry">{{contactValidationErrors?.pCountry}}</span>
                                  </div> -->
                                    </div>

                                </div>


                                <div class="col-md-6  col-xl-4">
                                    <div class="d-flex">
                                        <div class="col-md-6 col-xl-6 pl-0">
                                            <div class="form-group">
                                                <label id="pState" class="required-field" title="State">State</label>


                                                <ng-select id="pState" title="State" [items]="stateDetails" formControlName="pStateId" bindLabel="pState" bindValue="pStateId" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=true
                                                    (change)="pState_Change($event)" [ngClass]="{ 'is-invalid': contactValidationErrors.pState }">

                                                </ng-select>
                                                <app-validation-message [messgae]="contactValidationErrors?.pState">
                                                </app-validation-message>

                                                <!-- <select id="" class="form-control" formControlName="pStateId" [ngClass]="{ 'is-invalid': contactValidationErrors.pState }" (change)="pState_Change($event)">
                            <option value="" ng-selected="selected">Select</option>
                            <option *ngFor="let state of stateDetails" [value]="state.tbl_mst_state_id">{{state.state_name}}</option>
                          </select>
                                        <div class="invalid-feedback">
                                            <span *ngIf="contactValidationErrors.pState">{{contactValidationErrors?.pState}}</span>
                                        </div> -->
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xl-6 pr-0">
                                            <div class="form-group">
                                                <label id="pDistrict" class="required-field" title="District">District</label>


                                                <ng-select id="pDistrict" title="District" [items]="districtDetails" formControlName="pDistrictId" bindLabel="pDistrict" bindValue="pDistrictId" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=true
                                                    (change)="pDistrict_Change($event)" [ngClass]="{ 'is-invalid': contactValidationErrors.pDistrict }">

                                                </ng-select>
                                                <app-validation-message [messgae]="contactValidationErrors?.pDistrict">
                                                </app-validation-message>


                                                <!-- <select id="" class="form-control" formControlName="pDistrictId" [ngClass]="{ 'is-invalid': contactValidationErrors.pDistrict }" (change)="pDistrict_Change($event)">
                            <option value="" ng-selected="selected">Select</option>
                            <option *ngFor="let district of districtDetails" [value]="district.tbl_mst_district_id">{{district.district_name}}</option>
                          </select>
                                        <div class="invalid-feedback">
                                            <span *ngIf="contactValidationErrors.pDistrict">{{contactValidationErrors?.pDistrict}}</span>
                                        </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6  col-xl-4">

                                    <div class="form-group">
                                        <label id="pPinCode" class="required-field" title="Pincode">Pincode</label>
                                        <input type="text" value="" maxlength="6" class="form-control" placeholder="Enter Pincode" appNumbersonly formControlName="pPinCode" [ngClass]="{ 'is-invalid':contactValidationErrors.pPinCode  }">
                                        <div class="invalid-feedback">
                                            <span *ngIf="contactValidationErrors.pPinCode">{{contactValidationErrors?.pPinCode}}</span>
                                        </div>
                                    </div>

                                </div>
                                <hr class="light">

                                <div class="col-md-4 col-xl-4">
                                    <div class="form-group">
                                        <label id="plongitude" title="longitude">Longitude</label>

                                        <!-- <label>longitude</label> -->
                                        <input type="text" value="" class="form-control" maxlength="30" placeholder="Enter longitude" formControlName="plongitude">

                                    </div>
                                </div>

                                <div class="col-md-4 col-xl-4">
                                    <div class="form-group">
                                        <label id="platitude" title="latitude">Latitude</label>

                                        <!-- <label>latitude</label> -->
                                        <input type="text" value="" class="form-control" maxlength="30" placeholder="Enter latitude" formControlName="platitude">


                                    </div>
                                </div>

                                <div class="col-md-4 col-xl-4">
                                    <div class="d-flex justify-content-end  mt-4 ml-3 mb-4">
                                        <!-- <a href="" data-toggle="tab" class="btn  btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" 
                      appButtonDoubleClick [debounceTime]="1000" 
                      (debounceClick)="addAddressDeatails()">
                      <img src="assets/images/icon-add-blue-rounded.svg" class="mr-3" 
                      width="20px" height="20px">{{addressTransType}} </a> -->



                                        <a href="" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="500" (debounceClick)="addAddressDeatails()">
                                            <img src="assets/images/icon-add-white.svg" class="mr-3" width="20px" height="20px">{{addressTransType}}
                                        </a>
                                    </div>

                                </div>




                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <ngx-datatable #table class="material expandable table" [rows]="lstaddressdetails" [headerHeight]="50" [footerHeight]="50" [rowHeight]="auto" [selected]="selected" [limit]="4" style="overflow-y:visible">
                                    <ngx-datatable-column width="200" name="Select Primary Address" [cellClass]="'cell-center'" [headerClass]="'header-center'" frozenLeft="True">
                                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                                            <input type="radio" id="{{rowIndex}}" value="row.pAddressType" name="fixed" (change)="changeAddressPriority(rowIndex)" [checked]="row.pAddressPriority=='PRIMARY'">
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column width="250" name="Address Type" prop="pAddressType" [cellClass]="'cell-left'" [headerClass]="'header-left'">
                                    </ngx-datatable-column>
                                    <ngx-datatable-column width="300" name="Address Details" prop="pAddressDetails" [cellClass]="'cell-left'" [headerClass]="'header-left'">

                                    </ngx-datatable-column>

                                    <ngx-datatable-column width="200" name="" [cellClass]="'cell-center'" [headerClass]="'header-center'">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-group="group">
                                            <div class="position-absolute ml-5" id="icon-edit" (click)="editAddressDeatails(rowIndex)" class="text-left justify-content-left pull-left"></div>
                                            <div class="position-absolute" id="icon-delete" (click)='deleteAddressDeatails(row,rowIndex)' class="text-left justify-content-left pull-left"></div>

                                        </ng-template>
                                    </ngx-datatable-column>

                                </ngx-datatable>
                                <!-- <table id="example" class="table text-center border" style="table-layout: fixed;">
                                    <thead>
                                        <tr>

                                            <th>Select Primary Address</th>
                                            <th>Address Type</th>
                                            <th>Address Details</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let address of lstaddressdetails; let i = index">
                                            <td style="width: 20px;overflow: hidden;">
                                    

                                                <input class="form-check-input mt-n2" type="radio" name="pAddressTypeChk" formControlName="pAddressTypeChk" id="address_{{i}}" value="{{address.pAddressType}}" (change)="changeAddressPriority(i)">
                                            </td>
                                            <td style="width: 20px;overflow: hidden;">{{address.pAddressType}}</td>
                                            <td style="width: 50px;overflow: hidden;">

                                                {{address.pAddressDetails}}

                                            </td>
                                            <td style="width: 10px;overflow: hidden;">
                                                <a (click)="editAddressDeatails(i)">
                                                    <div id="icon-edit"></div>
                                                </a>
                                                <a (click)="deleteAddressDeatails(address,i)">
                                                    <div id="icon-delete"></div>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="kyc">
                        <app-new-kycdocuments></app-new-kycdocuments>
                    </div>
                    <div class="tab-pane fade in" id="bank">
                        <app-bankdetailsnew></app-bankdetailsnew>
                        <!-- <app-bankdetails></app-bankdetails> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4" hidden="true">
            <a href="#loanconfig" data-toggle="tab" class="btn btn-g-icon mr-4 px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="1000" (debounceClick)="clearContactFormDeatails()" hidden="true"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" />Clear</a>
            <!--<a href="#loanconfig" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="1000" (debounceClick)="saveContactDetails()"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3" />Submit</a>-->

            <button appButtonDoubleClick [debounceTime]="300" (debounceClick)="saveContactDetails()" class="btn btn-b-icon px-3 border-0" [disabled]="disablesavebutton" hidden="true">
          <i class="fa" [ngClass]="{'fa-spin fa-spinner': disablesavebutton, 'fa-check': !disablesavebutton}"></i>
          {{savebutton}}
        </button>

        </div>
    </form>

    <div class="modal fade pl-0" id="photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" style="margin-right:0px !important; ">
            <div class="model-cst modal-content">
                <app-photoupload (uploadPhoto)="loadImages($event)"></app-photoupload>
            </div>
        </div>
    </div>

    <!--The Modal For Address Type-->
    <div class="modal right slideInRight" id="addresstype">
        <div class="modal-dialog" style="margin-right:0px !important; ">
            <div class="model-cst modal-content">

                <div class="modal-body">

                    <a class="close" appButtonDoubleClick [debounceTime]="300" (debounceClick)="closeAddressType()">&times;</a>
                    <form [formGroup]="addresstypeForm">
                        <div class="form-group">
                            <label id="pAddressTypeMst" title="Address Type">Address Type</label>
                            <input type="text" class="form-control" maxlength="50" appTitlecaseword appCharactersonly placeholder="Enter Address Type" formControlName="pAddressType" [ngClass]="{ 'is-invalid': addressTypeErrorMessage.pAddressTypeMst }" />

                            <div class="invalid-feedback">
                                <span *ngIf="addressTypeErrorMessage.pAddressTypeMst">{{addressTypeErrorMessage.pAddressTypeMst}}</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-4">
                            <a class="close" class="btn btn-g-icon mr-4 px-3 border-0" appButtonDoubleClick [debounceTime]="300" (debounceClick)="clearAddressType()"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear</a>
                            <!--<a href="" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="1000" (debounceClick)="saveAddressType()"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3">Save</a>-->
                            <button appButtonDoubleClick [debounceTime]="300" (debounceClick)="saveAddressType()" class="btn btn-s-icon px-3 border-0" [disabled]="disableaddresstypesavebutton">
                  <i class="fa mr-2" [ngClass]="{'fa-spin fa-spinner': disableaddresstypesavebutton, 'fa-check': !disableaddresstypesavebutton}"></i>
                  {{saveaddresstypebutton}}
                </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3>
                Loading...
            </h3>

        </div>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div>
<style>
    div.show-image {
        position: relative;
        float: left;
        margin: 5px;
    }
    
    div.show-image:hover img {
        opacity: 0.5;
    }
    
    div.show-image:hover input {
        display: block;
    }
    
    div.show-image input {
        position: absolute;
        display: none;
    }
    
    div.show-image input.update {
        top: 0;
        left: 0;
    }
    
    div.show-image input.delete {
        top: 0;
        left: 79%;
    }
</style>