<div class="row mt-5">
    <div class="col-md-12 col-xl-12">
        <h2 class="sec-head-bold">Recurring deposit</h2>
    </div>
</div>
<form>
    <div class="row">
        <div class="col-md-6 col-xl-4">
            <div class="form-group">
                <label class="mt-1" for="">Recurring Deposit</label>
                <select class="form-control w-100">
                    <option>Samriddi quarterly recurring deposit scheme</option>
                    <option>Samriddhi half yearly recurring deposit scheme</option>
                    <option>Cent millionnaire</option>
                    <option>Cent Lakhpathi</option>
                </select>
            </div>

            <div class="form-group m-0">
                <div class="d-flex">
                    <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-100" for="">RD Name and Code</label>
                    <label class="col-md-6 col-xl-6 pl-0 mt-1 sec-head-bold" for="">SQRD001001</label>
                </div>
            </div>


            <div class="form-group">
                <label class="mt-1" for="">RD Installment Pay-in</label>
                <select class="form-control w-100">
                    <option>Monthly</option>
                    <option>Quarterly</option>
                    <option>Harlf Yearly</option>
                    <option>Yearly</option>
                    <option>Flat</option>
                </select>
            </div>


            <div class="form-group">
                <label title="Loan Installment">Installment Amount</label>
                <input class="form-control w-auto border-warning sec-head-bold">
            </div>



            <div class="form-group">
                <label class="mt-1" for="">Tenure</label>
                <div class="d-flex">
                    <div class="col-md-6 col-xl-6 pl-0 mt-1" for="">
                        <select class="form-control">
                            <option>Days</option>
                            <option>Months</option>
                            <option>Years</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-xl-6 pr-0 mt-1" for="">
                        <select class="form-control">
                            <option>12</option>
                            <option>24</option>
                            <option>36</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex">
                    <label class="col-md-6 col-xl-6 pl-0 mt-1" for="">Interest Calculation </label>
                    <label class="col-md-6 col-xl-6 pl-0 mt-1 sec-head-bold" for="">Simple/Compounding</label>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex">
                    <label class="col-md-6 col-xl-6 pl-0 mt-1" for="">RD Interest Payout </label>
                    <label class="col-md-6 col-xl-6 pl-0 mt-1 sec-head-bold" for="">On Maturity</label>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex">
                    <label class="col-md-6 col-xl-6 pl-0 mt-1" for="">Interest Rate</label>
                    <label class="col-md-6 col-xl-6 pl-0 mt-1 sec-head-bold" for="">10%</label>
                </div>
            </div>
            <div class="form-group">
                <label title="Loan Installment">Total deposit amount</label>
                <input class="form-control w-auto border-warning sec-head-bold">
            </div>

            <div class="form-group">
                <label class="mt-1" for="">Deposit Date</label>
                <input class="form-control w-auto" />
            </div>

            <div class="form-group">
                <h2 class="sec-head mt-2">Interest to be deposited in</h2>
                <div class="form-group m-0">
                    <div class="form-check form-check-inline mr-5 radio-btn-secondary">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="interestd1" value="sav-ac" checked>
                        <label class="mt-2" data-toggle="collapse " for="interestd1"> Savings A/C </label>
                        <div class="ml-2 mt-n2 sav-ac">
                            <input class="form-control w-auto" type="text" placeholder="Rs.">
                        </div>
                    </div>
                </div>
                <div class="form-group m-0">
                    <div class="form-check form-check-inline mr-5 radio-btn-secondary">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="interestd2" value="bank-ac">
                        <label class="mt-2" data-toggle="collapse" for="interestd2"> Bank A/C </label>
                        <div class="ml-4 mt-n2 bank-ac radio-toggle">
                            <input class="form-control w-auto" type="text" placeholder="%">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h2 class="sec-head mt-2">Maturity Instructions</h2>
            </div>

            <div class="form-group m-0">
                <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label for="inlineRadio1" class="mt-2 ml-2">Renew Principal and interest</label>
                </div>
            </div>
            <div class="form-group m-0">
                <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label for="inlineRadio1" class="mt-2 ml-2">Renew Prinicipal only

                    </label>
                </div>
            </div>
            <div class="form-group m-0">
                <div class="form-check form-check-inline mr-5">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label for="inlineRadio1" class="mt-2 ml-2">Do not renew
                    </label>
                </div>
            </div>

            <hr class="light">


        </div>
    </div>
</form>
<div class="row mt-4 ml-1">
    <div class="col-md-12 col-xl-12">
        <div class="d-flex justify-content-end mt-4">
            <a href="#" class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" />Clear</a>
            <a href="#" data-toggle="tab" class="btn btn-g-icon px-3 border-0 mr-4" role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-chewron-left-whitesolid.svg" width="20px" height="20px" class="mr-3" />Back</a>
            <a (click)="NextTabClick()" data-toggle="tab" class="btn btn-b-icon px-3 border-0 " role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-chewron-right-whitesolid.svg" width="20px" height="20px" class="mr-3" />Save&Continue</a>
        </div>
    </div>
</div>