<div class="row">

    <div class="col-md-6 col-xl-6 ">
        <p class="bc-2">RD Transaction</p>
    </div>
    <div class="col-md-6 col-xl-6 ">
        <span (click)="back()" class="btn btn-b-icon border-0" style="background-color: #4b70ff;
      color: #fff; padding: 5px 10px 3px 0px;cursor: pointer;float: right;"><img src="assets/images/icon-back-blue.svg"
                width="25px" height="25px"> View</span>
    </div>
</div>
<!-- <div class="btn-group quick-links"> <a class="btn btn-block dropdown-toggle" data-toggle="dropdown" href="#">Select<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Select Member </a></li>
        <li class="dropdown-item"><a href="#">FD A/C Creation</a></li>
        <li class="dropdown-item"><a href="#">Add Joint Member</a></li>
        <li class="dropdown-item"><a href="#">Referral/CP/Agent Details </a></li>
    </ul>
</div> -->
<!-- ======================================================================= tab nav end ============================================================================== -->
<div class="row mt-2">
    <div class="col-md-8 col-xl-8">
        <div class="section-container mt-3 P-0">
            <ul class="nav nav-tabs tip-top wiz-tab " id="myTab" role="tablist">
                <li class="nav-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Select Member">
                    <a class="active disableTabs" data-toggle="tab" href="#selectmember" role="tab" aria-controls="fresh" aria-selected="true">Select Member</a>
                </li>
                <!-- <li class="nav-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="FD A/C"> <a
        class="" data-toggle="tab" href="#fd-ac" role="tab" aria-controls="cold" aria-selected="false">2</a></li> -->
                <li class="nav-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Add Joint Member">
                    <a class="disableTabs" data-toggle="tab" href="#add-joint-member" role="tab" aria-controls="warm" aria-selected="false">Add Joint Member</a>
                </li>
                <li class="nav-item" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Referral/CP/Agent Details">
                    <a class="disableTabs" data-toggle="tab" href="#refferral" role="tab" aria-controls="cold" aria-selected="false">Referral</a>
                </li>
            </ul>
            <form [formGroup]="RdTranscationform">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show " id="selectmember" role="tabpanel" aria-labelledby="fresh-tab">
                        <div class="row mt-5 ">
                            <!-- <div class="col-md-12 col-xl-12">
              <h2 class="sec-head-bold"></h2>
            </div> -->

                        </div>

                        <div class="row">


                            <div class="col-md-6">
                                <!-- <div class="form-group" *ngIf="showchit">
            <label id="pChitbranchname" title="Chit Branch" class="sec-head mt-2" for="">Chit Branch</label>
            <ng-select title="Interest Payout" id="pChitbranchId" [items]="Branchdetails"
              formControlName="pChitbranchname" bindLabel="pBranchname" bindValue="pBranchname" [multiple]=false
              (change)="chitbranchchanges($event)" placeholder="Select" [searchable]=true [clearable]=true
              dropdownPosition="bottom" [clearOnBackspace]=true [ngClass]="{ 'is-invalid': RdtranscationErrors.pChitbranchname }">
            </ng-select>
            <div class="invalid-feedback">
              <span *ngIf="RdtranscationErrors.pChitbranchname">{{RdtranscationErrors?.pChitbranchname}}</span>
            </div>

          </div> -->
                                <div class="form-group" [ngClass]="{'for-disable-radio-btn': DateLockStatus}">
                                    <label id="pTransdate" title="Date Of Opening Account" class="mt-1" for="">Date</label>


                                    <input readonly type="text" class="form-control" formControlName="pTransdate" [bsConfig]="dpConfig" #dp="bsDatepicker" bsDatepicker placement="bottom" [ngClass]="{ 'is-invalid': RdtranscationErrors.pTransdate }">
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pTransdate">{{RdtranscationErrors?.pTransdate}}</span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="mt-1" for="" id="pMembertypeId" title="Member type">Member
                                        type</label>
                                    <div class="form-group">
                                        <ng-select title="Member Type" id="pMembertypeId" [items]="membertypedetails" formControlName="pMembertypeId" bindLabel="pMemberType" bindValue="pMembertypeId" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom"
                                            [clearOnBackspace]=false (change)="MemberTypeChange($event);" [ngClass]="{ 'is-invalid': RdtranscationErrors.pMembertypeId }">
                                        </ng-select>
                                        <div class="invalid-feedback">
                                            <span *ngIf="RdtranscationErrors.pMembertypeId">{{RdtranscationErrors?.pMembertypeId}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h2 class="sec-head-bold">Contact Type</h2>
                                </div>
                                <div>
                                    <div class="form-group" [ngClass]="notEditable ? 'cursor-not-allowaed' : ''">
                                        <div class="form-check form-check-inline mr-5 radio-btn" [ngClass]="{'for-disable-radio-btn': notEditable}">
                                            <input class="form-check-input radio-btn" type="radio" formControlName="pEntitytype" name="pEntitytype" id="inlineRadio1" value="Individual" (change)="SelectTypeChange('Individual')">
                                            <label class="mt-1" for="inlineRadio1"> Individual </label>
                                        </div>
                                        <div class="form-check form-check-inline mr-5 radio-btn" [ngClass]="{'for-disable-radio-btn': notEditable}">
                                            <input class="form-check-input radio-btn" formControlName="pEntitytype" type="radio" name="pEntitytype" id="inlineRadio2" value="BusinessEntity" (change)="SelectTypeChange('Business Entity')">
                                            <label class="mt-1" for="inlineRadio2"> Business Entity </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- <div class="col-md-4">
          <div class="form-group">
            <label class="mt-1" for="" id="pMembertypeId" title="Member type">Member type</label>
            <div class="form-group">
              <ng-select title="Member Type" id="pMembertypeId" [items]="membertypedetails"
                formControlName="pMembertypeId" bindLabel="pMemberType" bindValue="pMembertypeId" [multiple]=false
                placeholder="Select" [searchable]=false [clearable]=true dropdownPosition="bottom"
                [clearOnBackspace]=true (change)="MemberTypeChange($event);"
                [ngClass]="{ 'is-invalid': RdtranscationErrors.pMembertypeId }">
              </ng-select>
              <div class="invalid-feedback">
                <span *ngIf="RdtranscationErrors.pMembertypeId">{{RdtranscationErrors?.pMembertypeId}}</span>
              </div>
            </div>
          </div>
        </div> -->
                            <div class="col-md-4 members">
                                <label class="mt-1" id="pMemberId" title="Member">Member</label>
                                <div class="form-group" [ngClass]="{'for-disable-radio-btn': notEditable}">
                                    <!-- <label class="mt-1" for="" id="pMemberId" title="Select Member">Select Member</label>
            <div class="form-group ">
              <ng-select title="Member" id="pMemberId" [items]="memberdetails" formControlName="pMemberId"
                bindLabel="pMemberName" bindValue="pMemberId" [multiple]=false placeholder="Select"
                [searchable]=false [clearable]=true dropdownPosition="bottom" [clearOnBackspace]=true
                [ngClass]="{ 'is-invalid': RdtranscationErrors.pMemberId }" (change)="MemberChanges($event)">
              </ng-select> -->

                                    <!-- <div class="demo-section k-content">
              <input id="MemberData" name="MemberData" formControlName="pMemberId" style="width: 100%;" />
            </div> -->
                                    <ng-select [items]="memberdetails" formControlName="pMemberId" bindLabel="pMemberName" bindValue="pMemberId" [multiple]=false placeholder="Select" [searchable]="true" (change)="MemberChanges($event);" [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=false
                                        [ngClass]="{ 'is-invalid': RdtranscationErrors.pMemberId }">
                                        <ng-template ng-header-tmp>
                                            <label class="col-4 p-0"><strong>Member</strong> </label>
                                            <label class="col-4 p-0" style="text-align:center"><strong>Member
                                                    code</strong> </label>
                                            <label class="col-4 p-0" style="text-align:center"><strong>Contact
                                                    No.</strong> </label>
                                        </ng-template>
                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                            <div class="row">
                                                <span class="col-4 text-dark word-break text-wrap">{{item.pMemberName}}</span>
                                                <span class="col-4 text-dark">{{item.pMemberCode}}</span>
                                                <span class="col-4 text-dark">{{item.pContactnumber}}</span>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pMemberId">{{RdtranscationErrors?.pMemberId}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="individual">

                                    <div class="form-group">
                                        <label class="mt-1" for="" id="pApplicantType" title="Applicant Type">Applicant
                                            Type</label>
                                        <div class="form-group">
                                            <ng-select title="Member Type" id="pApplicantType" [items]="ApplicantTypes" formControlName="pApplicantType" bindLabel="pApplicantType" bindValue="pApplicantType" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom"
                                                [clearOnBackspace]=false (change)="ApplicanttypeChange($event);" [ngClass]="{ 'is-invalid': RdtranscationErrors.pApplicantType }">
                                            </ng-select>
                                            <div class="invalid-feedback">
                                                <span *ngIf="RdtranscationErrors.pApplicantType">{{RdtranscationErrors?.pApplicantType}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mt-1" for="" id="pRdConfigId" title="RD Name">RD Name</label>
                                    <ng-select title="Recurring Deposit" id="pRdConfigId" [items]="RdSchemes" formControlName="pRdConfigId" bindLabel="pRdname" bindValue="pRdConfigId" [multiple]=false placeholder="Select" [searchable]=true [clearable]=false dropdownPosition="bottom" [clearOnBackspace]=false
                                        [ngClass]="{ 'is-invalid': RdtranscationErrors.pRdConfigId }" (change)="Rdschemechange($event)">
                                    </ng-select>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pRdConfigId">{{RdtranscationErrors?.pRdConfigId}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group m-0">
            <div class="d-flex">
              <label class="col-md-6 col-xl-6 pl-0 mt-1" for="">FD Name and Code:</label>
              <label class="col-md-6 col-xl-6 pl-0 mt-1 sec-head-bold" for=""></label>
            </div>
          </div> -->

                            <div class="col-md-4" *ngIf="DepositAmountBaseconintrest">
                                <div class="form-group">
                                    <!-- <div class="d-flex">
                      <label  for="">FD Name and Code:</label>
                      <label class="sec-head-bold" for="">{{RdnameandCode}}</label>
                  </div> -->
                                    <label id="pinstallmentAmount" title="RD Installment Amount">RD Installment
                                        Amount</label>
                                    <div class="d-flex">
                                        <input class="form-control  col-md-12 col-xl-12" maxlength="12" [ngClass]="{ 'is-invalid': RdtranscationErrors.pinstallmentAmount}" appNumbersonly style="text-align:right;" appMycurrencyFormatter formControlName="pinstallmentAmount" (change)="Depositchanges($event)">
                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pinstallmentAmount">{{RdtranscationErrors?.pinstallmentAmount}}</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4" *ngIf="tenureontable">
                                <div class="form-group">
                                    <div class="col-md-6 p-0">
                                        <label class="mt-1" id="pInterestTenureMode" title="Tenure">Tenure</label>
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <select class="form-control col-md-12 btn-lg-icon" formControlName="pInterestTenureMode" (change)="Tenuremodechanges($event)" [ngClass]="{'is-invalid': RdtranscationErrors.pInterestTenureMode}">
                                                    <option value="" ng-selected="selected" disabled>select</option>
                                                    <option value="Days">Days</option>
                                                    <option value="Months">Months</option>
                                                    <option value="Years">Years</option>
                                                </select>

                                                <!-- <span class="invalid-feedback"
                              *ngIf="RdtranscationErrors.pInterestTenureMode">{{RdtranscationErrors?.pInterestTenureMode}}</span> -->


                                                <!-- <input class="form-control text-right" type="text" value=""formControlName="pInterestTenure"
                      (change)="Tenurechanges($event)"> -->
                                                <label id="pInterestTenure" title="Tenure"></label>
                                                <select class="form-control col-md-12 btn-lg-icon" formControlName="pInterestTenure" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestTenure}" (change)="Tenurechanges($event)">
                                                    <option value="" ng-selected="selected" disabled>select</option>
                                                    <option *ngFor="let i of Tenuremodedetails"
                                                        [value]="i.pInterestTenure">{{i.pInterestTenure}}</option>
                                                </select>


                                            </div>
                                            <span class="invalid-feedback" *ngIf="RdtranscationErrors.pInterestTenure">{{RdtranscationErrors?.pInterestTenure}}</span>
                                        </div>


                                    </div>
                                </div>

                            </div>



                            <div class="col-md-4" *ngIf="showtenureonintrest">
                                <div class="form-group">
                                    <label class="mt-1" id="pInterestTenure" title="Tenure">Tenure</label>
                                    <div class="input-group">
                                        <input class="form-control text-right" maxlength="3" type="text" value="" appNumbersonly formControlName="pInterestTenure" (change)="Tenurechanges($event)" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestTenure }">
                                        <!-- <span class="invalid-feedback" *ngIf="RdtranscationErrors.pInterestTenure">{{RdtranscationErrors?.pInterestTenure}}</span>  -->
                                        <div class="input-group-append">
                                            <label id="pTenortype" title="Tenure Type"></label>
                                            <select class="form-control w-auto btn-lg-icon" [ngClass]="{ 'is-invalid': RdtranscationErrors.pTenortype}" formControlName="pTenortype" (change)="changeTenureType($event)">
                                                <option value="" ng-selected="selected" disabled>select</option>
                                                <option value="Days">Days</option>
                                                <option value="Months">Months</option>
                                            </select>

                                        </div>
                                        <span class="invalid-feedback" *ngIf="RdtranscationErrors.pTenortype">{{RdtranscationErrors?.pTenortype}}</span>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="showtenureonintrest">
                                <div class="form-group">
                                    <label class="mt-1" for="" id="pInterestTenureMode" title="Installment Pay-In">Installment Pay-In</label>
                                    <div class="d-flex ">
                                        <select class="form-control" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestTenureMode}" formControlName="pInterestTenureMode" (change)="Tenuremodechanges($event)">
                                            <option value="" ng-selected="selected" disabled>select</option>
                                            <option *ngFor="let i of filtertenuremodelist" [value]="i.pTenurename">
                                                {{i.pTenurename}}</option>
                                        </select>

                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pInterestTenureMode">{{RdtranscationErrors?.pInterestTenureMode}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- 

                            <div class="col-md-4" *ngIf="showtenureonintrest">
                                <div class="form-group">


                                    <!-<input class="form-control text-right" maxlength="3" type="text" value="" appNumbersonly formControlName="pInterestTenure" (change)="Tenurechanges($event)" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestTenure }">
                                    <!- <span class="invalid-feedback" *ngIf="RdtranscationErrors.pInterestTenure">{{RdtranscationErrors?.pInterestTenure}}</span> 

                                    <label id="pInterestTenureMode" title="Installment Pay-In">Installment
                                        Pay-In</label>
                                    <div class="d-flex">
                                        <select class="form-control w-auto btn-lg-icon"
                                            [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestTenureMode}"
                                            formControlName="pInterestTenureMode" (change)="Tenuremodechanges($event)">
                                            <option value="" ng-selected="selected" disabled>select</option>
                                            <option *ngFor="let i of tenuremodelist" [value]="i.pTenurename">
                                                {{i.pTenurename}}</option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback"
                                            *ngIf="RdtranscationErrors.pInterestTenureMode">{{RdtranscationErrors?.pInterestTenureMode}}</span>
                                    </div>
                                </div>
                            </div>
 -->


                            <div class="col-md-4" *ngIf="DepositAmountBasedontable">
                                <div class="form-group">
                                    <label class="mt-1 pr-3" for="" id="pinstallmentAmount" title="RD Installment Amount">RD
                                        Installment Amount</label>
                                    <select class="form-control col-md-12 btn-lg-icon" formControlName="pinstallmentAmount" [ngClass]="{ 'is-invalid': RdtranscationErrors.pinstallmentAmount }" (change)="DepositAmountontablechanges($event)">
                                        <option value="" ng-selected="selected" disabled>select</option>
                                        <option *ngFor="let i of DepositAmountdetails" [value]="i.pInstallmentAmount">
                                            {{i.pInstallmentAmount}}</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pinstallmentAmount">{{RdtranscationErrors?.pinstallmentAmount}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="mt-1" for="" id="pInterestPayOut" title="Interest Payouts">Interest
                                        Payouts</label>
                                    <div class="d-flex ">
                                        <ng-select title="Interest Payouts" class="col-md-12 col-xl-12 p-0" id="pInterestPayOut" [items]="RdSchemeDetails" formControlName="pInterestPayOut" bindLabel="pInterestPayOut" bindValue="pInterestPayOut" [multiple]=false placeholder="Select" [searchable]=true
                                            (change)="Intrestpayoutchanges($event)" [clearable]=false dropdownPosition="bottom" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestPayOut }" [clearOnBackspace]=false>
                                        </ng-select>
                                        <!-- <select class="form-control" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestPayOut}" formControlName="pInterestPayOut" (change)="Intrestpayoutchanges($event)">
                                                <option value="On Maturity" ng-selected="selected" disabled>On Maturity</option>
                                            </select> -->



                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pInterestPayOut">{{RdtranscationErrors?.pInterestPayOut}}</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4" *ngIf="showintrestrate">

                                <div class="form-group">
                                    <label class="mt-1" for="" id="pInterestRate" title="Interest Rate Percentage">Interest Rate</label>
                                    <div class="input-group">
                                        <input class="form-control col-md-12" [attr.disabled]="Intrestratedisable ? '' : null" formControlName="pInterestRate" appRoundecimal="2@2" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestRate }" (change)="Intrestratechanges($event)">
                                        <div class="input-group-append">
                                            <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">P.A</label>
                                        </div>
                                    </div>

                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pInterestRate">{{RdtranscationErrors?.pInterestRate}}</span>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4" *ngIf="showintrestrate">
                                <div class="form-group">
                                    <a *ngIf="showcalculate" (click)="GetRDMaturityamount()" class="btn btn-b-icon  pl-2 mt-2 ">
                                        <img src="assets/images/icon-add-white.svg" class="mr-3 col-md-3" width="20px" height="20px">Calculate
                                    </a>

                                </div>
                            </div>


                            <div class="col-md-4" *ngIf="showvalueper100">
                                <div class="form-group">
                                    <label class="mt-1" for="" id="pInterestRate" title="Interest Rate Percentage">Value
                                        Per 100
                                    </label>
                                    <div class="input-group">
                                        <input class="form-control col-md-12" [attr.disabled]="Intrestratedisable ? '' : null" formControlName="pInterestRate" appRoundecimal="2@2" [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestRate }">
                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pInterestRate">{{RdtranscationErrors?.pInterestRate}}</span>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4" *ngIf="showvalueper100">
                                <a *ngIf="showcalculate" (click)="GetRDMaturityamount()" class="btn btn-b-icon  pl-2 mt-2 ">
                                    <img src="assets/images/icon-add-white.svg" class="mr-3 col-md-3" width="20px" height="20px">Calculate
                                </a>
                            </div>

                            <div class="col-md-4" *ngIf="ShowIntrestamount">
                                <div class="form-group">
                                    <div class="d-flex pt-4">
                                        <label id="pDepositAmount" class="col-md-6 col-xl-6 pl-0 mt-1" title="Total Deposit Amount">Total Deposit Amount :</label>
                                        <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-bold" for="">{{ptotaldepositamount|mycurrencypipe}}</label>
                                    </div>
                                    <!-- <input class="form-control w-auto border-warning sec-head-bold" formControlName="pInterestAmount" readonly
              [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestAmount }"> -->
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pDepositAmount">{{RdtranscationErrors?.pDepositAmount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="ShowIntrestamount">
                                <div class="form-group">
                                    <div class="d-flex pt-4">
                                        <label id="pInterestAmount" class="col-md-6 col-xl-6 pl-0 mt-1" title="Intrest Amount">Interest Amount :</label>
                                        <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-bold" for="">{{intrestamountontable|mycurrencypipe}}</label>
                                    </div>
                                    <!-- <input class="form-control w-auto border-warning sec-head-bold" formControlName="pInterestAmount" readonly
                  [ngClass]="{ 'is-invalid': RdtranscationErrors.pInterestAmount }"> -->
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pInterestAmount">{{RdtranscationErrors?.pInterestAmount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Showmaturityamount" class="col-md-4">
                                <div class="form-group">
                                    <div class="d-flex pt-4">
                                        <label id="pMaturityAmount" title="Maturity Amount" class="col-md-6 col-xl-6 pl-0 mt-1" for="">Maturity Amount: </label>
                                        <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-bold" for="">{{Matrityamountontable|mycurrencypipe}}</label>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pMaturityAmount">{{RdtranscationErrors?.pMaturityAmount}}</span>
                                    </div>
                                    <!-- <input class="form-control w-auto border-warning sec-head-bold" formControlName="pMaturityAmount" readonly
              [ngClass]="{ 'is-invalid': RdtranscationErrors.pMaturityAmount }"> -->

                                </div>
                            </div>

                            <div *ngIf="ShowIntrestamountforintrest" class="col-md-4">

                                <div class="form-group">
                                    <div class="d-flex pt-4">
                                        <label id="pDepositAmount" class="col-md-6 col-xl-6 pl-0 mt-1" title="Total Deposit Amount">Total Deposit Amounts </label>
                                        <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-bold" for="">{{ptotaldepositamount|mycurrencypipe}}</label>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pDepositAmount">{{RdtranscationErrors?.pDepositAmount}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-flex pt-4">
                                        <label id="pInterestAmount" class="col-md-6 col-xl-6 pl-0 mt-1" title="Intrest Amount">Interest Amount </label>
                                        <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-bold" for="">{{IntrestAmount|mycurrencypipe}}</label>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pInterestAmount">{{RdtranscationErrors?.pInterestAmount}}</span>
                                    </div>
                                </div>
                            </div>



                            <div *ngIf="Showmaturityamountforintrest" class="col-md-4">
                                <div class="form-group">
                                    <div class="d-flex pt-4">
                                        <label id="pMaturityAmount" title="Maturity Amount" class="col-md-6 col-xl-6 pl-0 mt-1" for="">Maturity Amount: </label>
                                        <label class="col-md-6 col-xl-6 pl-0 mt-1 font-weight-bold" for="">{{MaturityAmnt|mycurrencypipe}}</label>
                                    </div>
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pMaturityAmount">{{RdtranscationErrors?.pMaturityAmount}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="pDepositDate" title="FD Date" for="">Expected RD Date</label>
                                    <input class="col-md-12 col-xl-12 form-control" readonly [bsConfig]="depositdateConfig" formControlName="pDepositDate" [ngClass]="{'is-invalid': RdtranscationErrors.pDepositDate}" (ngModelChange)="DepositDatechanges()" #dp="bsDatepicker" bsDatepicker
                                        placement="bottom" />
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pDepositDate">{{RdtranscationErrors?.pDepositDate}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="pMaturityDate" title="Expected Maturity Date" class="mt-1" for="">Expected Maturity Date</label>
                                    <input class="col-md-12 col-xl-12  form-control" readonly [bsConfig]="maturitydateConfig" formControlName="pMaturityDate" [attr.disabled]="maturitydate ? '' : null" [ngClass]="{ 'is-invalid': RdtranscationErrors.pMaturityDate }" #dp="bsDatepicker" bsDatepicker
                                        placement="bottom" />
                                    <div class="invalid-feedback">
                                        <span *ngIf="RdtranscationErrors.pMaturityDate">{{RdtranscationErrors?.pMaturityDate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- ================================================================= Select business entity======================================================================== -->


                        <!-- ==================================================================== tab content pannnel 1 end =================================================================== -->

                        <div class="row mt-4 ml-1">
                            <div class="col-md-12 col-xl-12">
                                <div class="d-flex justify-content-end mt-4">
                                    <a *ngIf="buttontype != 'edit'" (click)="clearform()" class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" />Clear</a>
                                    <!-- <a href="#" data-toggle="tab" class="btn btn-g-icon px-3 border-0 mr-4" role="tab"
                              aria-controls="hot" aria-selected="false"><img src="assets/images/icon-chewron-left-whitesolid.svg"
                                  width="20px" height="20px" class="mr-3" />Back</a> -->
                                    <a (click)="SaveForm()" data-toggle="tab" class="btn btn-b-icon px-3 border-0 " role="tab" aria-controls="hot" aria-selected="false"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3" />Save & Continue</a>
                                </div>
                            </div>
                        </div>




                    </div>

                    <!-- ==================================================================== tab content pannnel 2 end =================================================================== -->

                    <div class="tab-pane fade" id="add-joint-member" role="tabpanel" aria-labelledby="warm-tab">
                        <!-- <app-rd-jointmember [status]=status></app-rd-jointmember> -->
                        <app-co-jointmember [jointmemberdata]="{accounttype:'RD Transaction',AddJointMembervalidation:false,AddNomineevalidation:false}">
                        </app-co-jointmember>
                    </div>


                    <!-- ==================================================================== tab content pannnel 3 end =================================================================== -->
                    <div class="tab-pane fade" id="refferral" role="tabpanel" aria-labelledby="cold-tab">
                        <!-- <app-rd-referral></app-rd-referral> -->
                        <!-- <app-co-referral [referraldata]="{accounttype:'RD Transaction',validation:false}"></app-co-referral> -->
                        <app-co-referral [referraldata]="{accounttype:'RD Transaction',validation:false,returnurl:'RdTransactionView'}">
                        </app-co-referral>
                    </div>
                </div>

            </form>
        </div>
    </div>


    <div class="col-md-4 col-xl-4 pl-0 mt-3" *ngIf="showgrid">

        <div class="card-box ">
            <div class="">
                <div class="card-body">
                    <!-- <h2 class="sec-head">View here</h2> -->
                    <div class="row member-content">
                        <div class="col-md-12 col-xl-12">
                            <h2 class="sec-head">RD- {{Rdname}} Details</h2>
                        </div>
                        <!-- <div class="modal-header">
                            <div class="col-12">
                                <h2 class="sec-head-bold">RD- {{Rdname}} Details</h2>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div> -->
                        <div class="col-md-12 col-xl-12 mt-1" *ngIf="RdCalculationmode == 'Interest rate'">

                            <kendo-grid [data]="griddata" [columnMenu]="{ filter: true }">
                                <!-- <kendo-grid-column field="pFdCalculationmode" title="FdCalculationmode" width="100">
                              </kendo-grid-column> -->
                                <kendo-grid-column field="pMaxInstallmentAmount" title="Installment Amount" width="150" class="kendo-right">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.pMinInstallmentAmount|mycurrencypipe}}-{{dataItem.pMaxInstallmentAmount|mycurrencypipe}}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="pInvestmentPeriodFrom" title="Investment Period" width="150" class="kendo-center">

                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div *ngIf="(dataItem.pInvestmentPeriodFrom!='' && dataItem.pInvestmentPeriodTo!='')">
                                            {{dataItem.pInvestmentPeriodFrom}}-{{dataItem.pInvestmentPeriodTo}}
                                        </div>
                                        <div *ngIf="dataItem.pInvestmentPeriodTo==''">

                                            {{dataItem.pInvestmentPeriodFrom}}

                                        </div>
                                        <div *ngIf="dataItem.pInvestmentPeriodFrom==''">

                                            {{dataItem.pInvestmentPeriodTo}}

                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="pInterestRateFrom" title="Interest Rate/Value Per 100" width="150 " class="kendo-center">

                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <div *ngIf="(dataItem.pInterestRateFrom!='' && dataItem.pInterestRateTo!='')">
                                            {{dataItem.pInterestRateFrom}}-{{dataItem.pInterestRateTo}}
                                        </div>

                                        <div *ngIf="dataItem.pInterestRateTo=='' && dataItem.pInterestRateFrom==''">

                                            {{dataItem.pValuefor100}}

                                        </div>

                                    </ng-template>
                                </kendo-grid-column>
                                <!-- <kendo-grid-column field="pValuefor100" title="Value Per 100" width="100">
                              </kendo-grid-column> -->
                              <kendo-grid-column field="pinstallmentpayin" title="Installment Payin" width="100" class="kendo-center">
                            </kendo-grid-column>
                                <kendo-grid-column field="pInterestPayOut" title="Interest PayOut" width="100" class="kendo-right">
                                </kendo-grid-column>
                                <!-- <kendo-grid-column field="pMultiplesof" title="Multiplesof" width="100">
                              </kendo-grid-column> - -->

                            </kendo-grid>





                        </div>
                        <div class="col-md-12 col-xl-12" *ngIf="RdCalculationmode == 'TABLE'">

                            <kendo-grid [data]="griddata" [columnMenu]="{ filter: true }">
                                <!--<kendo-grid-column field="pRdCalculationmode" title="Rd Calculationmode" width="100">
                                </kendo-grid-column> -->
                                <kendo-grid-column field="pRdtablepayindenomination" title="Pay in Denomination" width="150" class="kendo-right">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.pRdtablepayindenomination | mycurrencypipe}}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="pRdtabletenure" title="Investment Period" width="150" class="kendo-center">
                                </kendo-grid-column>
                                <kendo-grid-column field="pRdtabletenuremode" title="Tenure Mode" width="100" class="kendo-left">
                                </kendo-grid-column>
                                <kendo-grid-column field="pRdtabledepositamount" title="Deposit Amount" width="100" class="kendo-right">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.pRdtabledepositamount | mycurrencypipe}}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="pRdtableinterestamount" title="Interest Amount" width="150" class="kendo-right">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.pRdtableinterestamount | mycurrencypipe}}
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="pInterestPayOut" title="Interest PayOut" width="100" class="kendo-left">
                                </kendo-grid-column>
                                <!-- <kendo-grid-column field="pMultiplesof" title="Multiplesof" width="100">
                              </kendo-grid-column> - -->

                            </kendo-grid>





                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="modal right slideInRight" id="RDDetails">
    <div class="modal-dialog modal-xl" style="width:60% !important;margin-right:0px !important;">
        <div class="model-cst modal-content">
            <div class="modal-header">
                <div class="col-12">
                    <h2 class="sec-head-bold">RD- {{Rdname}} Details</h2>
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-xl-12">

                    <kendo-grid [data]="griddata" [columnMenu]="{ filter: true }">
                        <!-- <kendo-grid-column field="pFdCalculationmode" title="FdCalculationmode" width="100">
              </kendo-grid-column> -->
                        <kendo-grid-column field="pMaxInstallmentAmount" title="Installment Amount" width="150">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.pMinInstallmentAmount|mycurrencypipe}}-{{dataItem.pMaxInstallmentAmount|mycurrencypipe}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="pInvestmentPeriodFrom" title="Investment Period" width="150">

                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div *ngIf="(dataItem.pInvestmentPeriodFrom!='' && dataItem.pInvestmentPeriodTo!='')">
                                    {{dataItem.pInvestmentPeriodFrom}}-{{dataItem.pInvestmentPeriodTo}}
                                </div>
                                <div *ngIf="dataItem.pInvestmentPeriodTo==''">

                                    {{dataItem.pInvestmentPeriodFrom}}

                                </div>
                                <div *ngIf="dataItem.pInvestmentPeriodFrom==''">

                                    {{dataItem.pInvestmentPeriodTo}}

                                </div>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="pInterestRateFrom" title="Interest Rate/Value Per 100" width="150">

                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div *ngIf="(dataItem.pInterestRateFrom!='' && dataItem.pInterestRateTo!='')">
                                    {{dataItem.pInterestRateFrom}}-{{dataItem.pInterestRateTo}}
                                </div>

                                <div *ngIf="dataItem.pInterestRateTo=='' && dataItem.pInterestRateFrom==''">

                                    {{dataItem.pValuefor100}}

                                </div>

                            </ng-template>
                        </kendo-grid-column>
                        <!-- <kendo-grid-column field="pValuefor100" title="Value Per 100" width="100">
              </kendo-grid-column> -->
                        <kendo-grid-column field="pInterestPayOut" title="Interest PayOut" width="100">
                        </kendo-grid-column>
                        <!-- <kendo-grid-column field="pMultiplesof" title="Multiplesof" width="100">
              </kendo-grid-column> - -->

                    </kendo-grid>




                </div>
            </div>

        </div>
    </div>
</div>