<form [formGroup]="contactViewForm" autocomplete="off">
  <div class="row mt-2">
    <div class="col-8 d-flex flex-wrap align-items-center">
      <a routerLink="/ContactForm" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg"
          width="20px" height="20px" class="mr-2" />New</a>
    </div>
  </div>


  <!--col-end-->
  <div class="d-flex justify-content-end">
    <ul class="temp-ul mt-2">
      <!-- <li class="temp-ico ml-2"><img class="pt-2" src="assets/images/pdf-icon-blue.svg " title="pdf" width="20px"></li>
            <li class="temp-ico ml-2"><img class="pt-2" src="assets/images/icon-excel.svg " title="Excel" width="20px"></li> -->
    </ul>
  </div>
  <!--col-end-->
  <!--<div class="col-auto dropdown">
        <button class="btn btn-sm sm-dd dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select action
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>-->
  <!--dropdown-end-->

  <!--row-end-->
  <!-- ======================================================================= tab nav end ============================================================================== -->
  <!-- <div class="row mt-4 py-1">
      <div class="col d-flex flex-wrap align-items-center">
        <a routerLink="/ContactForm" class="btn btn-b-icon border-0"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-2" />New</a>
      </div>
    </div> -->
  <div class="row mt-1">
    <div class="col-md-12 col-xl-12">
      <!-- <table id="datatable" class="table" cellspacing="0" width="100%" style="width:100%">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table> -->
      <kendo-grid [kendoGridBinding]="GridData" [groupable]="false" [columnMenu]="{ filter: true }" 
        [reorderable]="true" [resizable]="true" width="150" [sort]="gridState.sort" [pageable]="{ buttonCount: 2 }"
        [sortable]="true" [pageSize]="10"  (edit)="editDetails($event)"
        (remove)="deleteDetails($event)">
        <ng-template kendoGridToolbarTemplate>

          <div class="row mb-5">
            <div class="col-4 pl-0 mt-n1">
              <input placeholder="Search in all columns..." kendoTextBox class="form-control search-k-cst sb"
                (input)="onFilter($event.target.value)" />
            </div>
            <div class="col-7 pr-0 pl-4 ml-4">
              <ul class="temp-ul mt-n1 mr-n2  pull-right">
                <li class="temp-ico ml-2">
                  <a kendoGridPDFCommand><img class="pt-2" src="assets/images/pdf-icon-blue.svg " title="pdf"
                      width="20px"></a></li>
                <li class="temp-ico ml-2">
                  <a kendoGridExcelCommand><img class="pt-2" src="assets/images/icon-excel.svg " title="excel"
                      width="20px"></a></li>
                <!-- <li class="temp-ico ml-2"><a kendoGridExcelCommand><img class="pt-2" src="assets/images/print-icon-blue.svg " title="Excel" width="20px"></a></li> -->
              </ul>
            </div>
          </div>
        </ng-template>
        <kendo-grid-column-group title="Contact" [headerClass]="{'kendo-g-center' : true}">
        <kendo-grid-column field="pName" title="Full Name"></kendo-grid-column>
        <kendo-grid-column field="pBusinessEntityContactno" title="Contact No"></kendo-grid-column>
        <kendo-grid-column field="pBusinessEntityEmailid" title="Email ID"></kendo-grid-column>
        <kendo-grid-column field="pReferenceId" title="Reference ID"></kendo-grid-column>
        <kendo-grid-column field="pContactType" title="Contact Type"></kendo-grid-column>
         <!-- <kendo-grid-column field="pStatusname" title="Status"></kendo-grid-column>  -->
         <kendo-grid-column field="pStatusname" title="Status" class="material-switch">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" >
                  <input  id="status{{rowIndex}}" type="checkbox" [checked]="dataItem.pStatusname=='Active'" data-toggle="collapse" data-target="#tds" (click)="status(dataItem)">
                  <label for="status{{rowIndex}}" class="badge-success" data-toggle="collapse" data-target="#tds"></label>
         </ng-template>
           </kendo-grid-column>      
        <kendo-grid-command-column title="" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>

            <div *ngIf="dataItem.pStatusname=='Active'" id="icon-edit" kendoGridEditCommand [primary]="true"></div>
            
          </ng-template>
         
          </kendo-grid-command-column>  

        <!-- <kendo-grid-command-column title="" width="100">
          <ng-template kendoGridCellTemplate>
            <div id="icon-delete" kendoGridRemoveCommand [primary]="true"></div>
          </ng-template>
        </kendo-grid-command-column> -->

        </kendo-grid-column-group>
        <kendo-grid-pdf fileName="contactView.pdf" [scale]="0.3" [allPages]="true" paperSize="A4" [repeatHeaders]="true"
          [landscape]="true">
          <ng-template kendoGridPDFTemplate>
              <div class="page-template">
                 <div class="header bc-2 text-center">
                  <h5> Contact </h5>
                 </div>
               </div>
             </ng-template>
          <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
          <kendo-grid-column field="pName" title="Full Name"></kendo-grid-column>
          <kendo-grid-column field="pBusinessEntityContactno" title="Contact No"></kendo-grid-column>
          <kendo-grid-column field="pBusinessEntityEmailid" title="Email ID"></kendo-grid-column>
          <kendo-grid-column field="pReferenceId" title="Reference ID"></kendo-grid-column>
          <kendo-grid-column field="pContactType" title="Contact Type"></kendo-grid-column>
          <kendo-grid-column field="pStatusname" title="Status"></kendo-grid-column>
        </kendo-grid-pdf>
        <kendo-grid-excel fileName="contactView.xlsx">
            <kendo-excelexport-column-group title="Contact" [headerCellOptions]="headerCells">
          <kendo-excelexport-column field="pName" title="Full Name"></kendo-excelexport-column>
          <kendo-excelexport-column field="pBusinessEntityContactno" title="Contact No"></kendo-excelexport-column>
          <kendo-excelexport-column field="pBusinessEntityEmailid" title="Email ID"></kendo-excelexport-column>
          <kendo-excelexport-column field="pReferenceId" title="Reference ID"></kendo-excelexport-column>
          <kendo-excelexport-column field="pContactType" title="Contact Type"></kendo-excelexport-column>
          <kendo-excelexport-column field="pStatusname" title="Status"></kendo-excelexport-column>
            </kendo-excelexport-column-group>
        </kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>
</form>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Loading...
      </h3>

    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>

</div>

<script>
  $(document).ready(function () {
    var table = $('#datatable').DataTable({
      searching: false,
    });

  });
</script>
