<div class="row">
 <!-- <div class="col-12 mt-5">
   <p class="bc-2">FD Configuration</p>
  </div> -->
</div>
<form [formGroup]="fdConfigurationForm">
  <div class="row mt-5">
        <div class="col-md-4 col-xl-4">
     <div class="form-group">
       <label id="pMembertypeid" title="Member Type">Member Type</label>
        <!-- <select class="form-control">
                   <option>All</option>
                   <option>Associate Member</option>
                   <option>Elected Member</option>
                   <option>Normal Member</option>
               </select>  -->
       <ng-select title="Member Type" id="pMembertypeid" [items]="MembertypeDetails"
       formControlName="pMembertypeid" bindLabel="pmembertype"  [ngModelOptions]="{standalone: true}" [(ngModel)]="pMembertypeid"
         bindValue="pmembertypeid" [multiple]=true placeholder="Select" [searchable]=true [clearable]=true
         dropdownPosition="bottom" [clearOnBackspace]=true [ngClass]="{ 'is-invalid': (memberTypeError == true) }"
         (change)="MemberTypeChange($event);">
       </ng-select>
       <div class="invalid-feedback">
         <span *ngIf="memberTypeError">Member Type Required</span>
       </div>
     </div>
     </div>
         <div class="col-md-4 col-xl-4">
           <div class="form-group">
        <label id="pApplicanttype" title="Applicant Type">Applicant Type</label>
           <ng-select title="Member Type" id="pApplicanttype" [items]="ApplicantTypes"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="pApplicanttype" bindLabel="pApplicanttype"
          bindValue="pApplicanttype" formControlName="pApplicanttype" [multiple]=true placeholder="Select" [searchable]=true [clearable]=true
          dropdownPosition="bottom" [clearOnBackspace]=true [ngClass]="{ 'is-invalid': (applicantTypeError == true) }"
          (change)="ApplicanttypeChange($event);">
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="applicantTypeError">Applicant Type Required</span>
        </div>
      </div>
      </div>
   </div>
  <!--</div>
  <div class="row mt-1">
     <div class="col-md-6 col-xl-4">
      <div class="form-group">
        <label id="pMembertypeid" title="Member Type">Member Type</label>
         <select class="form-control">
                    <option>All</option>
                    <option>Associate Member</option>
                    <option>Elected Member</option>
                    <option>Normal Member</option>
                </select> 
        <ng-select title="Member Type" id="pMembertypeid" [items]="MembertypeDetails"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="pMembertypeid" bindLabel="pmembertype"
          bindValue="pmembertypeid" [multiple]=true placeholder="Select" [searchable]=true [clearable]=true
          dropdownPosition="bottom" [clearOnBackspace]=true [ngClass]="{ 'is-invalid': (memberTypeError == true) }"
          (change)="MemberTypeChange($event);">
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="memberTypeError">Member Type required</span>
        </div>
      </div>
    </div>--> 
    <!-- <div class="col-md-6 col-xl-4">

    </div>
    <hr class="light">
  </div> -->

  <div class="row">
<div class="col-md-12 col-xl-12">
<label class="font-weight-bold">Interest Payout</label>
<div class="form-group mt-2" [ngClass]="{'for-disable-radio-btn': notEditable}">
<div class="form-check form-check-inline mr-5">
<input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="monthlycheckedstatus" (change)="forInterestPayout($event,'Monthly')" name="monthly" id="monthly"
value="">
<label class="mt-1" for="inlineRadio2"> Monthly</label>
</div>
<div class="form-check form-check-inline mr-5">
<input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="Quarterlycheckedstatus" (change)="forInterestPayout($event,'Quarterly')" name="Quarterly" id="Quarterly"
value="">
<label class="mt-1" for="inlineRadio2"> Quarterly</label>
</div>
<div class="form-check form-check-inline mr-5">
<input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="halfyearlycheckedstatus" autocomplete="on" (change)="forInterestPayout($event,'Half-Yearly')" name="halfyearly"
id="halfyearly" value="">
<label class="mt-1" for="inlineRadio2"> Half-Yearly</label>
</div>
<div class="form-check form-check-inline mr-5">
<input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="yearlycheckedstatus" (change)="forInterestPayout($event,'Yearly')" name="yearly" id="yearly"
value="">
<label class="mt-1" for="inlineRadio2"> Yearly</label>
</div>
<div class="form-check form-check-inline mr-5">
<input class="form-check-input" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="onmaturitycheckedstatus" (change)="forInterestPayout($event,'On Maturity')" name="onmaturity" id="onmaturity" value="">
<label class="mt-1" for="inlineRadio2"> On Maturity</label>
</div>
</div>

</div>
<hr class="light" />
</div>




  <div class="row">

    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <div class="form-check form-check-inline mr-5 radio-btn">
          <input class="form-check-input radio-btn" type="radio" formControlName="forType" name="forType"
            id="inlineRadio6" (change)="interestratechecked($event)" value="Interest rate"
            [checked]="showupdatetable ? false : true ">
          <label class="mt-1" for="inlineRadio6"> Interest Rate </label>
        </div>
        <div class="form-check form-check-inline mr-5 radio-btn">
          <input class="form-check-input radio-btn" type="radio" formControlName="forType" name="forType"
            id="inlineRadio5" value="TABLE" (change)="updatetablechecked($event)">
          <label class="mt-1" for="inlineRadio5">Update Table</label>
        </div>
      </div>
    </div>



    <div class="col-md-12 col-xl-12">
      <div *ngIf="showupdatetable" class="update-table">
        <div formGroupName="lstFDConfigartionDetailsDTO" class="row">
          <div class="col-md-6 col-xl-6">
            <div class="border-box h-100 ">
              <div class="form-group">
                <label class="font-weight-bold"> Fixed Deposit Table</label>
              </div>
              <div class="row">
                <!--col-end-->
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Total Tenure</label>
                    <div class="input-group col-6  pl-0">
                      <input maxlength="4" formControlName="ptenure" removeZero class="form-control text-right"
                        [ngClass]="{ 'is-invalid': (globalTensureFlag == false) }" type="text" appNumbersonly
                        (keyup)="TenureAmount($event)">
                      <div class="input-group-append rounded-right rounded-0">
                        <select id="" formControlName="ptenuremode"
                          [ngClass]="{ 'is-invalid': (globalTensureModeFlag == false) }"
                          class="form-control btn-lg-icon" (change)="onModeChange($event)">
                          <option disabled class="" value="">Select</option>
                          <option class="" value="Days">Days</option>
                          <option class="" value="Months">Months</option>
                          <option class="" value="Years">Years</option>
                        </select>
                      </div>
                    </div>
                    <div class="d-flex col-6 p-0">
                      <div class="invalid-feedback col-7">
                        <span *ngIf="!globalTensureFlag">Total Tenure Required </span>
                      </div>
                      <div class="invalid-feedback col-6">
                        <span *ngIf="!globalTensureModeFlag">select Mode </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Pay-in Denomination</label>
                                        <div class="input-group">
                                            <input maxlength="9" class="form-control text-right" type="text" formControlName="pPayindenomination"
                                            removeZero appNumbersonly (change)="Payindenomination($event)">
                                            <div class="invalid-feedback">
                                                <span *ngIf="!globalPayinFlag">Pay-in Denomination should be greater than zero </span>
                                              </div>
                                        </div>
                                    </div>
                                </div> -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Deposit Amount</label>
                    <input maxlength="17" removeZero class="form-control text-right"
                      (keyup)="depositeAmountChange($event)" appNumbersonly
                      [ngClass]="{ 'is-invalid': (globalDepositeAmountFlag == false) }" formControlName="pdepositamount"
                      type="text">
                    <div class="invalid-feedback">
                      <span *ngIf="!globalDepositeAmountFlag">Deposit Amount Required </span>
                      </div>

                  </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Interest Amount</label>
                    <input maxlength="9" class="form-control text-right" formControlName="pinterestamount"
                      appNumbersonly appDecimalwithcurrencyformat
                      [ngClass]="{ 'is-invalid': (globalInterestFlag == false) }" type="text"
                      (keyup)="Intrestamount($event)">
                    <div class="invalid-feedback">
                      <span *ngIf="!globalInterestFlag">Interest Amount Required </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Maturity Amount</label>
                    <input maxlength="17" class="form-control text-right" formControlName="pmaturityamount" readonly
                      type="text" removeZero>
                  </div>
                </div>

              </div>

            </div>

          </div>
          <!-- <div class="col-12">
                        <div class="d-flex justify-content-end mt-4">
                            <a (click)="addDataToTable()" class="btn btn-b-icon border-0"><img
                                    src="assets/images/icon-add-white.svg" width="20px" height="20px"
                                    class="mr-3" />Add</a> </div>
                    </div> -->

          <!-- <div class="col-md-12 col-xl-12">
                      

                        <kendo-grid [data]="DepositGridData"  [groupable]="true" 
                        [group]="groups" [selectedKeys]="mySelection" [pageSize]="10"  [pageable]="{buttonCount: 2}"
                        [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" [pageable]="true"
                        [sortable]="true"
                     (edit)="editHandler($event,'deposite')" (remove)="removeHandler($event,'deposite')">
                   
                          <kendo-grid-column field="pMembertype" title="Member Type" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column field="pApplicanttype" title="Applicant Type" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column field="pInterestpayuot" title="Interest Payout" width="150">
                        </kendo-grid-column>
                          <kendo-grid-column field="ptenure" title="Tenure" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column field="pPayindenomination" title="Pay-in Denomination" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column field="pinterestamount" title="Interest Amount" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column field="pdepositamount" title="Deposit Amount" width="150">
                          </kendo-grid-column>
                          <kendo-grid-column field="pmaturityamount" title="Maturity Amount" width="150"></kendo-grid-column>
                          <kendo-grid-command-column title="" width="100">
                            <ng-template kendoGridCellTemplate>
                              <div id="icon-remove" kendoGridRemoveCommand></div>
                            </ng-template>
                          </kendo-grid-command-column>
                        </kendo-grid>
                    </div> -->

        </div>

      </div>
    </div>



    <div formGroupName="lstFDConfigartionDetailsDTO" class="col-md-12 col-xl-12">
      <div *ngIf="showInterestRate" class="interest-rate">
        <div class="row">
          <div class="col-md-6 col-xl-6">
            <div class="border-box h-100 ">
              <div class="form-group">
                <label class="font-weight-bold"> Deposit Amount and Investment Period </label>
              </div>
              <div class="row pr-2">
                <!--col-end-->
                <div class="col-md-12 col-xl-6 ">
                  <div class="form-group">
                    <label>Min Deposit Amount</label>
                    <input maxlength="12" class="form-control text-right" appNumbersonly removeZero
                           [ngClass]="{ 'is-invalid': ((globalMinAmountFlag == false || validationformin)) }" type="text"
                           (change)="minAmountChange($event)" formControlName="pMininstalmentamount">
                    <small class="form-text clr-orange"></small>
                    <div class="invalid-feedback" >
                      <span *ngIf="!globalMinAmountFlag">
                       Min Deposit Amount Required
                      </span>
                    </div>
                    <div class="invalid-feedback" >
                      <span *ngIf="validationformin">
                        Minimum Amount should be less than are equal to Maximum Amount
                      </span>
                    </div>
                  </div>

                </div>
                <!--col-end-->
                <div class="col-md-12 col-xl-6 ">
                  <div class="form-group">
                    <label>Max Deposit Amount</label>
                    <input maxlength="12" class="form-control text-right" appNumbersonly
                           (change)="mixAmountChange($event)" [ngClass]="{ 'is-invalid': (globalMaxAmountFlag == false) }"
                           type="text" removeZero formControlName="pMaxinstalmentamount">
                    <small class="form-text clr-orange"></small>
                    <div class="invalid-feedback">
                      <span *ngIf="!globalMaxAmountFlag">
                        Max Deposit Amount Required
                      </span>
                    </div>
                  </div>

                </div>
                <div class="col-md-12 col-xl-6 ">
                  <div class="form-group">
                    <div class="form-check form-check-inline mr-5">
                      <input class="form-check-input" type="checkbox" (change)="multipesof($event)"
                             id="option2" [checked]="showmultipesof ? true : false ">
                      <label class="pt-2">Multiples Of</label>
                    </div>
                    <div *ngIf="showmultipesof">
                      <input maxlength="17" class="form-control text-right" removeZero appNumbersonly
                             (keyup)="Multiplesofchanges($event)" type="text" formControlName="pMultiplesofamount" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pMultiplesofamount }">
                            <div class="invalid-feedback">
                      <span *ngIf="AccountConfigErrorMessages.pMultiplesofamount">{{AccountConfigErrorMessages.pMultiplesofamount}}</span>
                    </div>  
                      <!-- <input type="text" class="form-control text-right pl-4" (change)="Multiplesofchanges($event)"   appNumbersonly formControlName="pMultiplesofamount"> -->
                    </div>

                  </div>

                </div>
                <div class="col-md-12 col-xl-6 ">
                  <!-- <div class="form-group">

                    <label id="pRatepersquareyard" title="Rate Per Square Yard">Rate Per Square Yard</label>

                    <input maxlength="15" class="form-control text-right" removeZero appNumbersonly
                            type="text" formControlName="pRatepersquareyard" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pRatepersquareyard }"> -->
                    <!-- <input type="text" class="form-control text-right pl-4" (change)="Multiplesofchanges($event)"   appNumbersonly formControlName="pMultiplesofamount"> -->
                  
                    <!-- <div class="invalid-feedback-cst">
                      <span *ngIf="AccountConfigErrorMessages.pRatepersquareyard">{{AccountConfigErrorMessages.pRatepersquareyard}}</span>
                    </div>

                  </div> -->

                </div>
                
                <!--<div class="col-md-7 col-xl-7 ">
    <div class="form-group">
      <div class="form-check form-check-inline mr-5">
        <input class="form-check-input" type="checkbox" (change)="multipesof($event)"
               id="option2" value="true">
        <label for="option2" class="mt-2 ml-2 mr-2"> Multiples of </label>
        <div *ngIf="showmultipesof">
          <input maxlength="17" class="form-control text-right" removeZero appNumbersonly
                 (change)="Multiplesofchanges($event)" type="text" formControlName="pMultiplesofamount">

        </div>
      </div>
    </div>
  </div>-->
              </div>
             
              <div class="">
                <label class=""> Investment Period From </label>
              </div>
              <div class="row p-0">
                <!--col-end-->
                <div class="d-flex">
                  <div class="col-md-4 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" [ngClass]="{ 'is-invalid': (investPeriodFromFlag == false) }" (keyup)="InvestmentPeriodfromChange($event)" removeZero formControlName="pfromnoofyears"
                             (change)="Investmentfrom($event)" appNumbersonly>
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Years</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" [ngClass]="{ 'is-invalid': (investPeriodFromFlag == false) }"  (keyup)="InvestmentPeriodfromChange($event)" removeZero formControlName="pfromnoofmonths"
                             (change)="Investmentfrom($event)" appNumbersonly>
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Months</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" type="text" value="" [ngClass]="{ 'is-invalid': (investPeriodFromFlag == false) }" (keyup)="InvestmentPeriodfromChange($event)" removeZero formControlName="pfromnoofdays"
                             (change)="Investmentfrom($event)" appNumbersonly>
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Days</label>
                      </div>
                    </div>
                  </div>
                  <!--col-end-->
                </div>
                </div>
                <div class="invalid-feedback">
                  <span *ngIf="!investPeriodFromFlag">Investment Period From Required </span>
                </div>
              
              <hr class="light">
              <div class=" ">
                <label class=""> Investment Period To </label>
              </div>
              <div class="row p-0">
                <!--col-end-->
                <div class="d-flex">
                  <div class="col-md-4 col-xl-4 ">
                    <div class="input-group">
                      <input formControlName="ptonoofyears" maxlength="3" [ngClass]="{ 'is-invalid': (investPeriodToFlag == false) }" (keyup)="InvestmentPeriodToChange($event)" removeZero appNumbersonly (change)="Investto()"
                             class="form-control" type="text" value="">
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Years</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4 ">
                    <div class="input-group">
                      <input formControlName="ptonoofmonths" maxlength="3" [ngClass]="{ 'is-invalid': (investPeriodToFlag == false) }" removeZero appNumbersonly (keyup)="InvestmentPeriodToChange($event)" (change)="Investto()"
                             class="form-control" type="text" value="">
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Months</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-xl-4 ">
                    <div class="input-group">
                      <input class="form-control" maxlength="3" formControlName="ptonoofdays" [ngClass]="{ 'is-invalid': (investPeriodToFlag == false) }" removeZero appNumbersonly (keyup)="InvestmentPeriodToChange($event)" 
                             (change)="Investto()" type="text" value="">
                      <div class="input-group-append">
                        <label class="w-auto btn-lg-icon  pt-1 pl-1 pr-1 h-100 rounded-right ">Days</label>
                      </div>
                    </div>
                  </div>
                  <!--col-end-->
                </div>
                 </div>
                <div class="invalid-feedback">
                  <span *ngIf="!investPeriodToFlag">Investment Period To Required </span>
                </div>
            </div>
          </div>
          <!--col-end-->
          <div class="col-md-6 col-xl-6">
            <div class="border-box h-100 ">
              <div class="form-group">
                <label class="font-weight-bold"> Rate of Interest and Payout Details </label>
              </div>


              <div class="row">


             
                <div class="col-md-12 col-xl-12">
                  <div class="form-group">
                      <label class="font-weight-bold">Interest Type</label>
                    <select formControlName="pInteresttype" name="pInteresttype" (change)="changeInterestType($event)"
                      class="form-control">
                      <option value="Simple Interest">Simple Interest</option>
                      <!-- <option value="Compounding Interest">Compounding Interest</option> -->
                    </select>
                  </div>
                </div>

                <div class="col-md-6 col-xl-6">
                  <div class="form-group" *ngIf="showCompoundInterest">
                    <select formControlName="pInterestCompunding" name="pInterestCompunding" class="form-control">
                      <option value="" disabled>Select</option>
                      <option value="Monthly Compounding">Monthly Compounding</option>
                      <option value="Quarterly Compounding">Quarterly Compounding</option>
                      <option value="Half Yearly Compounding">Half Yearly Compounding</option>
                      <option value="Yearly Compounding">Yearly Compounding</option>
                    </select>
                  </div>
                </div>



                <div class="col-md-7 col-xl-7">
                  <label>Interest Rate P/A</label>
                  <!-- <div class="material-switch pull-right">
                                      <input id="Employment" name="Employment" type="checkbox" checked (change)="intrestratechecked($event)"data-toggle="collapse" data-target="#tds">
                                      <label for="Employment" class="badge-success" data-toggle="collapse" data-target="#tds"></label>
                                    </div> -->
                </div>

                <div class="col-md-6 col-xl-6" *ngIf="showrate">
                  <div class="input-group">
                    <label class="mr-2 mt-1"  id="pInterestratefrom" title="From"> From </label>
                    <input appRoundecimal="2@2" class="form-control rounded-left" type="text" value="" removeZero
                           [attr.disabled]="Intrestrate ? '' : null" formControlName="pInterestratefrom" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pInterestratefrom }"
                           (change)="checkFromToValue()">
                    <div class="input-group-append">
                      <label class="w-auto btn-lg-icon  pt-1 pr-2 pl-2 h-100 pb-0  rounded-right "> % </label>
                    </div>
                    </div>
                    <div class="invalid-feedback-cst">
                      <span *ngIf="AccountConfigErrorMessages.pInterestratefrom">{{AccountConfigErrorMessages.pInterestratefrom}}</span>
                    </div>
                  
                </div>
                <div class="col-md-6 col-xl-6" *ngIf="showrate">
                  <div class="input-group">
                    <label class="mr-2 mt-1" id="pInterestrateto" title="To"> To </label>
                    <input appRoundecimal="2@2" class="form-control rounded-left" type="text" value="" removeZero
                           [attr.disabled]="Intrestrate ? '' : null" formControlName="pInterestrateto" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pInterestrateto }"
                           (change)="checkFromToValue()">
                    <div class="input-group-append">
                      <label class="w-auto btn-lg-icon pt-1 pr-2 pl-2 h-100 rounded-right "> % </label>
                    </div>
                     </div>
                    <div class="invalid-feedback-cst">
                      <span *ngIf="AccountConfigErrorMessages.pInterestrateto">{{AccountConfigErrorMessages.pInterestrateto}}</span>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="showvalue">
                  <div class=""> <label class="pt-2 font-weight-bold">OR </label></div>
                </div>
                <div class="col-md-6 col-xl-6" *ngIf="showvalue">
                  <div class="form-group">
                    <label class="mr-2 mt-1" id="pValueper100" title="Value per 100"> Value Per 100 </label>
                    <input maxlength="17" class="form-control" [attr.disabled]="Valueper100 ? '' : null"[attr.disabled]="Valueper100 ? '' : null" type="text"
                           value=""  ThreeDigitNumber formControlName="pValueper100" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pValueper100 }" (change)="valueentered($event)">
                    <div class="invalid-feedback-cst">
                      <span *ngIf="AccountConfigErrorMessages.pValueper100">{{AccountConfigErrorMessages.pValueper100}}</span>
                    </div>
                  </div>
                </div>

              </div>
              <!--col-end-->
            </div>
          </div>
          <!--col-end-->
          <!--row-end-->



          <!-- <div class="col-md-12 ">

                        <kendo-grid [data]="fdcongiggriddata"  [groupable]="true" 
                        [group]="groups" [selectedKeys]="mySelection" [pageSize]="10" [skip]="skip" [pageable]="{buttonCount: 2}"
                        [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" [pageable]="true"
                        [sortable]="true" (edit)="editHandler($event,'config')" (remove)="removeHandler($event,'config')">
                      
                        <kendo-grid-column field="pMembertype" title="Member Type" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column field="pApplicanttype" title="Applicant Type" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column field="pInterestpayuot" title="Interest Payout" width="150">
                        </kendo-grid-column>
                        <kendo-grid-column field="pMininstalmentamount" title="Min Deposit" width="150">
                          <ng-template kendoGridFooterTemplate>
                            {{pMininstalmentamount | mycurrencypipe}}
                        </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="pMaxinstalmentamount" title="Max Deposit" width="150">
                          <ng-template kendoGridFooterTemplate>
                            {{pMaxinstalmentamount | mycurrencypipe}}
                        </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="pInvestmentperiodfrom" title="Investment Period From" width="150"></kendo-grid-column>
                        <kendo-grid-column field="pInvestmentperiodto" title="Investment Period To" width="150"></kendo-grid-column>
                        <kendo-grid-column field="pInstalmentpayin" title="Minimum Lock-in Period" width="150"></kendo-grid-column>
                        <kendo-grid-column field="pInterestpayuot" title="Interest Payout" width="150"></kendo-grid-column>
                        <kendo-grid-column field="pInteresttype" title="Interest compounding" width="150"></kendo-grid-column>
                        <kendo-grid-column field="pmaturityamount" title="Interest rate p.a" width="150"></kendo-grid-column>
                        <kendo-grid-column field="pValueper100" title="Value per 100" width="150"></kendo-grid-column>
                       
                        <kendo-grid-command-column title="" width="100">
                          <ng-template kendoGridCellTemplate>
                            <div id="icon-remove" kendoGridRemoveCommand></div>
                          </ng-template>
                        </kendo-grid-command-column>
                      </kendo-grid>

                   
                    </div> -->



        </div>
        <!--update-table-end-->

      </div>
    </div>
    <div class="col-md-12 col-xl-12 mt-4">
    <div class="border">
    <div formGroupName="lstFDConfigartionDetailsDTO" class="col-md-12">
      <div>
        <div class="row pt-3 pb-3">
          <div class="col-md-8 col-xl-8"> <a class="bc-2 mb-2 text-decoration-none"> Is Referral Commission Payable?</a>
          </div>
          <div class="col-md-4 col-xl-4">
            <div class="material-switch">
              <input id="Referral-fd" formControlName="pIsreferralcommissionapplicable" type="checkbox"
                (change)="notApplicable($event)">
              <label for="Referral-fd" class="badge-success"></label>
            </div>
          </div>
        </div>

        <!-- <div class="row" >
                    <div class="col-md-3 col-xl-3">
                      <h2 class="sec-head">Is referral commission paid?</h2>
                      <div class="form-group">
                        <div class="form-check form-check-inline mr-5 radio-btn-secondary">
                          <input class="form-check-input" formControlName="pIsreferralcommissionapplicable" type="radio" name="pIsreferralcommissionapplicable" id="ref-commission1"
                            value="true">
                          <label class="mt-1" for="ref-commission1"> Yes </label>
                        </div>
                  
                        <div class="form-check form-check-inline mr-0 radio-btn-secondary">
                          <input class="form-check-input" formControlName="pIsreferralcommissionapplicable" type="radio" name="pIsreferralcommissionapplicable" id="ref-commission2"
                            value="false">
                          <label class="mt-1" for="ref-commission2"> No </label>
                        </div>
                      </div>
                    </div>
                  
                  </div> -->
        <div class="row" *ngIf="showcommissionpayout">
          <div class="col-md-6 col-xl-4">
            <label class="">
              Commission Payout:</label>
            <div class="form-group">
              <div class="form-check form-check-inline mr-5  radio-btn-secondary">
                <input class="form-check-input" type="radio" (change)="onCommissionChange($event)"
                  name="pReferralcommissiontype" id="fixed" value="fixed" formControlName="pReferralcommissiontype">
                <label class="mt-1" for="fixed"> Fixed </label>
              </div>
              <div class="form-check form-check-inline mr-5 radio-btn-secondary">
                <input class="form-check-input" type="radio" name="pReferralcommissiontype" id="percentage"
                  value="percentage" formControlName="pReferralcommissiontype" (change)="onCommissionChange($event)">
                <label class="mt-1" for="percentage"> Percentage </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showcommissionpayout">
          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <label class="mt-1" for="inlineRadio2">Fixed Amount/Percentage </label>
              <input *ngIf="forFixed" appMycurrencyFormatter maxlength="17" appNumbersonly removeZero
                class="form-control text-right" (keyup)="CommissionValue_change($event)" formControlName="pCommissionValue" name="pCommissionValue" type="text" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pCommissionValue }">
              <input *ngIf="forPercentage" appRoundecimal="2@2" removeZero class="form-control"
                formControlName="pCommissionValue" (keyup)="CommissionValue_change($event)" name="pCommissionValue" type="text" [ngClass]="{ 'is-invalid': AccountConfigErrorMessages.pCommissionValue }">
            </div>
             <div class="invalid-feedback-cst">
                      <span *ngIf="AccountConfigErrorMessages.pCommissionValue">{{AccountConfigErrorMessages.pCommissionValue}}</span>
                    </div>
          </div>
        </div>
        <div class="row mt-1" *ngIf="showcommissionpayout">
          <div class="col-md-6 col-xl-4">
            <div class="form-group">
              <!-- <div class="material-switch">
                          <span class="mr-2">TDS</span>
                          <input id="Employment-fd" name="pIstdsapplicable" formControlName="pIstdsapplicable" type="checkbox"
                            (change)="tdsCheck($event)">
                          <label for="Employment-fd" class="badge-success"></label>
                        </div> -->
            </div>

            <!-- <div class="form-group" *ngIf="tdsshow">
              <label id="ptdsSectionName" title="TDS Section No">Select TDS Section No.</label>
              <div class="input-group">
                <select id="ptdssection" title="TDS" class="form-control" name="pTdssection"
                  formControlName="pTdssection"   [ngClass]="{ 'is-invalid': (globalrefferalcommisiontype == false) }">
                  <option value="" ng-selected="selected">Select</option>
                  <option *ngFor="let tdsdetails of TDSsectiondetails" [value]="tdsdetails.pTdsSection">
                    {{tdsdetails.pTdsSection}}</option>

                </select>
                <div class="invalid-feedback" *ngIf="!globalrefferalcommisiontype">
                  <span class="text-danger">
                  TDS Section No. Required
                  </span>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-md-12 col-xl-12 pb-3 p-0">
      <div class="d-flex justify-content-end mt-4"><a (click)="forClear()"
          class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px"
            height="20px" class="mr-3">Clear</a><a  appButtonDoubleClick (debounceClick)="addDataToTable()" class="btn btn-b-icon border-0"><img
            src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-3"/>Add</a> </div>
    </div>
   
    <div class="col-md-12 mt-4 p-0 border p-4">
      <kendo-grid [data]="DepositGridData" [height]="300"
                  [selectedKeys]="mySelection" [skip]="skip" [reorderable]="true" [resizable]="true"
                  [columnMenu]="{ filter: true }" [sortable]="true" (edit)="editHandler($event,'deposite')"
                  (remove)="removeHandler($event,'deposite')">
        <ng-template kendoGridToolbarTemplate>
          <div class="row mb-2">
            <div class="col-4 pl-0 mt-n1">
              <input placeholder="Search in all columns..." kendoTextBox class="form-control search-k-cst sb"
                     (input)="onFilter($event.target.value)" />
            </div>
          </div>
        </ng-template>
       <!-- <kendo-grid-column field="pMembertype" title="Member Type" width="150">
  </kendo-grid-column> -->
 
        <kendo-grid-command-column title="" width="100">
          <ng-template kendoGridCellTemplate>
            <div id="icon-delete" kendoGridRemoveCommand></div>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column field="pMembertype" title="Member Type" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="pApplicanttype" title="Applicant Type" width="150">
        </kendo-grid-column> 
        <kendo-grid-column field="pFDcalucationmode" title="Calculation Mode" width="150">
        </kendo-grid-column>
        <!-- <kendo-grid-column field="pMininstalmentamount" title="Min Deposit" width="150">
    <ng-template kendoGridFooterTemplate>
      {{pMininstalmentamount | mycurrencypipe}}
    </ng-template>
  </kendo-grid-column> -->

        <kendo-grid-column field="pMaxinstalmentamount" title="Deposit Amount" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>
          <div *ngIf="dataItem.pFDcalucationmode!='TABLE'">
            {{dataItem.pMininstalmentamount}}-{{dataItem.pMaxinstalmentamount}}
            </div>
          <div *ngIf="dataItem.pFDcalucationmode==='TABLE'">
            {{dataItem.pdepositamount}}
            </div>
          </ng-template>
          
        </kendo-grid-column>
        <kendo-grid-column field="pInvestmentperiodfrom" title="Investment Period" width="150">

          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="(dataItem.pInvestmentperiodfrom!='' && dataItem.pInvestmentperiodto!='')">
              {{dataItem.pInvestmentperiodfrom}}-{{dataItem.pInvestmentperiodto}}
            </div>
            <div *ngIf="dataItem.pInvestmentperiodto==''">

              {{dataItem.pInvestmentperiodfrom}}

            </div>
            <div *ngIf="dataItem.pInvestmentperiodfrom==''">

              {{dataItem.pInvestmentperiodto}}

            </div>
          </ng-template>



        </kendo-grid-column>
        <!-- <kendo-grid-column field="pInvestmentperiodto" title="Investment Period To" width="150"></kendo-grid-column> -->
        <!-- <kendo-grid-column field="pInstalmentpayin" title="Minimum Lock-in Period" width="150"></kendo-grid-column> -->
        <kendo-grid-column field="pInterestpayuot" title="Interest Payout" width="150"></kendo-grid-column>
        <kendo-grid-column field="pInteresttype" title="Interest Type" width="150"></kendo-grid-column>
        <kendo-grid-column field="pInterestratefrom" title="Interest Rate" width="150">

          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.pInterestratefrom}}-{{dataItem.pInterestrateto}}
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="pInterestrateto" title="Interest Rate" width="150"></kendo-grid-column> -->
        <kendo-grid-column field="pValueper100" title="Value Per 100" width="150"></kendo-grid-column>
        <kendo-grid-column field="ptenure" title="Tenure" width="150">
        </kendo-grid-column>

        <kendo-grid-column field="pinterestamount" title="Interest Amount" width="150">
        </kendo-grid-column>
       <!-- <kendo-grid-column field="pdepositamount" title="Deposit Amount" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="pmaturityamount" title="Maturity Amount" width="150"></kendo-grid-column> -->
        <kendo-grid-column field="pReferralcommissiontype" title="Referral Commission Type" width="150">
        </kendo-grid-column>
        <kendo-grid-column field="pCommissionValue" title="Commission Value" width="150"></kendo-grid-column>

        <kendo-grid-column field="pTdssection" title="TDS Section" width="150"></kendo-grid-column>
        <kendo-grid-column field="pMultiplesofamount" title="Multiples Of" width="150" class="kendo-center">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.pMultiplesofamount}}
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="pRatepersquareyard" title="Rate Per Square Yard" width="150" class="kendo-center">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.pRatepersquareyard}}
          </ng-template>
        </kendo-grid-column> -->

      </kendo-grid>


    </div>

    <!-- ================================================================= Select business entity======================================================================== -->



  </div>



  <!--form-end-->

  <!--row-end-->
</div>
</form>
