<div class="container-fluid">

  <img class="btn-xs-toggle" width="24px" height="24px" src="assets/images/nav-hamburger.svg" />
  <!------------------main navigation--------->
  <nav class="navbar-primary position-fixed">

    <ul class="navbar-primary-menu">

      <div class="text-center">
        <a class="text-center mb-3 "><img src="assets/images/Finsta Logo.png" class="ml-5" /></a>
      </div>
      <a (click)="contactclick()" routerLink="/ContactViewNew" class="btn btn-contact ml-5 mb-3"> <img src="assets/images/add-user.svg" width="20" height="20"> Contact</a>

      <!--<div class="form-group ml-5 p-3">
        <input [(ngModel)]="userFilter.pFunctionName"   class="form-control"  type="search">
      </div>-->



      <li (click)="ActivateDash()" class="mt-5">
        <a id="a" routerLink="/Dashboard" (click)="ActivateDash()" class="main-active"> <i class="dashboard"></i> <i class="dashboard-active"></i> <span class="nav-label">Dashboard</span></a>
      </li>

      <li class="nav-sub-parent" *ngFor="let Menu of UsersForms;trackBy: trackByFn; let j= index">
        <a id="a{{j}}" (click)="Menuclick($event,Menu.pmodulename)" class="">

          <i class="{{Menu.pcssclass}}"></i>
          <i class="{{Menu.pcssclass}}-active"></i><span class="nav-label">{{Menu.pmodulename}} </span>
        </a>
        <div class="nav-sub-menu">
          <div class="nav-left-back" role="button">
            <div class="nav-back-icon"> <i class="back-icon"></i> </div>
            <div class="control-label">{{Menu.pmodulename}}</div>
          </div>


          <!-----------accordian start-->
          <div class="accordion" id="acc-{{Menu.pmoduleid}}">
            <!-----------card start-->
            <div class="card" *ngFor="let subMenu of Menu.lstSubModuleDTO;trackBy: trackByFn; let i= index">
              <div class="card-header">
                <a class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+subMenu.psubmoduleid" aria-expanded="false">  {{subMenu.psubmodulename}}  <i class="fa fa-plus"></i> </a>
              </div>
              <div id="collapse{{subMenu.psubmoduleid}}" class="collapse" aria-labelledby="headingOne" [attr.data-parent]="'#acc-' + Menu.pmoduleid">
                <div class="card-body">
                  <ul class="inner-menu">
                    <li *ngFor="let Form of subMenu.functionsDTOList;trackBy: trackByFn;"><a (click)="Urlclick(Form.pFunctionName,subMenu.psubmodulename,Menu.pmodulename)" class="msm-tt text-decoration-none clr-primary" routerLink="/{{Form.pFunctionUrl}}"> {{Form.pFunctionName}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-----------card start-->
          </div>
          <!-----------accordian End-->

        </div>
      </li>

    </ul>
  </nav>
  <div class="my-container">
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

  </div>
  <div class="row">

    <div class="wrapper">

      <div class="menu-toggle">
        <a class="btn-expand-collapse">
          <img id="expand" width="24px" height="24px" src="assets/images/nav-close.svg" />
          <img id="collapse" width="24px" height="24px" src="assets/images/nav-hamburger.svg" />
        </a>
      </div>

      <!-- <a href="contact-list.html"> <img class="position-fixed" src="assets/images/cross.svg" width="20" height="20" style="right:20px; top:90px;" title="close this screen"></a> -->
      <div class="d-flex position-sticky fixed-top top-nav">
        <!-- <a class="p-2 ml-3"><img src="assets/images/icon-chevron-left-blue.svg" width="12px" height="12px" title="Go to Previous Screen" /></a> -->
        <nav aria-label="breadcrumb">
          <li *ngIf="UrlName!=''" class="breadcrumb-item b-item-1"><a class="white-text">{{MenuName}}</a></li>
          <ol class="breadcrumb secondary-color">
            <li *ngIf="UrlName!=''" class="breadcrumb-item"><a class="white-text">{{SubMenuName}}</a></li>
            <li *ngIf="UrlName!='0'" class="breadcrumb-item active">{{UrlName}}</li>
          </ol>
        </nav>
        <div class="col text-right p-0">
          <div class="dropdown profile ">
            <!-- <h2 class=" d-inline-block mr-5" style="font-size:16px; color:#111;">Rudramadevi MAC Society</h2> -->
            <img src="assets/images/notification.svg" width="18" height="18" class="mr-2"> <img src="assets/images/icon-settings.svg" width="18" height="18" class="mr-2">


            <a class="btn dropdown-toggle border-0 p-0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="app-profile-tumb pull-left mt-n1"> <img src="{{Imagepath}}"> </div>
            </a>
            <div class="dropdown-menu  text-center" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item">{{LoginUser}}</a>
              <a class="dropdown-item" (click)="openpop()">Change password</a>
              <a class="dropdown-item" (click)="Signout()">Signout</a>
            </div>

          </div>
          <!--dropdown-end-->
        </div>
      </div>
      <!-- ======================================================================== top-nav-end ============================================================================= -->
      <div class="main-content">
        <!-- <div class="row justify-content-end">
          <a class="p-2 ml-3 pull-right mt-n4 back-btn"><img src="assets/images/icon-chevron-left-blue.svg" width="12px" height="12px" title="Go to Previous Screen" />Back</a>
        </div> -->

        <router-outlet></router-outlet>
      </div>
    </div>
    <!------------------------------------------------modal start------------------------------------------------------------->
    <!-- modal -->
    <!--modal-end-->
    <!----------------------------------------------------Model And--------------------------------------------------------->



    <div class="modal right slideInRight" id="ChangePassmodel">
      <div class="modal-dialog" style="margin-right:0px !important; ">
        <div class="model-cst modal-content">
          <div class="modal-header">
            <div class="col-12">
              <h2>Change password</h2>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">


            <form [formGroup]="ChangePassWordForm">
              <div class="form-group">
                <label>{{ this.UserName}}</label>

              </div>

              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="userpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userpassword.errors }" />
                <div *ngIf=" submitted &&  ChangePassWordForm.controls.userpassword.errors" class="invalid-feedback">
                  <div *ngIf="ChangePassWordForm.controls.userpassword.errors.required">Password is required</div>
                  <div *ngIf="ChangePassWordForm.controls.userpassword.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>

              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf=" submitted &&  ChangePassWordForm.controls.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="ChangePassWordForm.controls.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="ChangePassWordForm.controls.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
              </div>


              <div class="d-flex justify-content-end mt-4">
                <a class="btn btn-b-icon px-3 border-0" (click)="ChangePassWord()"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3">Submit</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>











  </div>
</div>
