<div class="border rounded pl-4 pt-2 pr-4  border-bottom-0">
    <div class="row">
        <div class="col-md-2">
            <div class="temp-img float-md-left">
                <img class="img-fluid" src="assets/images/Finsta Logo.png" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="temp-head float-md-center pt-3">
                <h2 class="font-18 text-dark text-center m-0 font-weight-bold"> {{pCompanyName}}</h2>
                <p class="font-16 text-dark text-center m-0"> {{pAddress1}} {{pAddress2}} {{pDistrict}}, {{pcity}}, {{pState}} - {{pPincode}} </p>
                <p class="font-14 text-dark text-center">CIN : {{pCinNo}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="">
                <p class="font-14 text-left m-0 mr-4 font-weight-bold m-0">Printed On: {{todaydate | date :'dd-MMM-yyyy h:mm:ss a '}}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <p class="font-14 text-right m-0 font-weight-bold m-0">Branch : {{pBranchname | titlecase}}</p>
            </div>
        </div>
    </div>
</div>
