<div class="row mt-4">
  <div class="col d-flex flex-wrap align-items-center">
    <a routerLink="/ChequemanagementMaster" class="btn btn-b-icon border-0">
      <img src="assets/images/icon-add-white.svg" class="mr-2" width="20px" height="20px">New
    </a>
  </div>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Loading...
      </h3>

    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>

</div>
<div class="row mt-4">
<div class="col-12 col-xl">
  

  <kendo-grid [kendoGridBinding]="gridData"   [kendoGridSelectBy]="'id'" [groupable]="true"   [sortable]="true"
    [group]="groups" [selectedKeys]="mySelection" [pageSize]="10"  [reorderable]="true"
    [resizable]="true" [pageable]="{
        buttonCount: 2
      }" (cellClick)="editClick($event)" [columnMenu]="{ filter: true }" [sortable]="true"
    >
    <ng-template kendoGridToolbarTemplate>
      <div class="row mb-5">
        <div class="col-4 pl-0 mt-n1">
          <input placeholder="Search in all columns..." kendoTextBox class="form-control search-k-cst sb"
            (input)="onFilter($event.target.value)" />
        </div>
        <div class="col-7 pr-0 pl-4 ml-4">
          <ul class="temp-ul mt-n1 mr-n2  pull-right">
            <li class="temp-ico ml-2">
              <a kendoGridPDFCommand><img class="pt-2" src="assets/images/pdf-icon-blue.svg " title="pdf"
                  width="20px"></a></li>
            <li class="temp-ico ml-2">
              <a kendoGridExcelCommand><img class="pt-2" src="assets/images/icon-excel.svg " title="excel"
                  width="20px"></a></li>
            <!-- <li class="temp-ico ml-2"><a kendoGridExcelCommand><img class="pt-2" src="assets/images/print-icon-blue.svg " title="Excel" width="20px"></a></li> -->
          </ul>
        </div>
      </div>
    </ng-template>
    <kendo-grid-column-group title="Cheque Management" [headerClass]="{'kendo-g-center' : true}">
    <kendo-grid-column field="pChqbookid" title="Book ID"></kendo-grid-column>
    <kendo-grid-column field="pNoofcheques" title="No. of Cheques"></kendo-grid-column>
    <kendo-grid-column field="pChequefrom" title="From"></kendo-grid-column>
    <kendo-grid-column field="pChequeto" title="To"></kendo-grid-column>
    <kendo-grid-column field="pChqegeneratestatus" title="Status">
      <ng-template kendoGridCellTemplate let-dataItem>
          <div *ngIf="dataItem.pChqegeneratestatus == 'InActive'" class="text-danger">
              {{dataItem.pChqegeneratestatus}}
            </div>
            <div *ngIf="dataItem.pChqegeneratestatus != 'InActive'" >
              {{dataItem.pChqegeneratestatus}}
            </div>

      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="pBankname" title="Bank Name"></kendo-grid-column>
    <kendo-grid-column field="pAccountnumber" title="Account No."></kendo-grid-column>
    </kendo-grid-column-group>
    <kendo-grid-pdf fileName="Cheque_Management.pdf" paperSize="A4" [allPages]="true" [repeatHeaders]="true"
      [landscape]="true">
      <ng-template kendoGridPDFTemplate>
        <div class="page-template">
           <div class="header bc-2 text-center">
            <h5>Cheque Management</h5>
           </div>
         </div>
       </ng-template>
      <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="1cm"></kendo-grid-pdf-margin>
      <kendo-grid-column field="pChqbookid" title="Book ID"></kendo-grid-column>
      <kendo-grid-column field="pNoofcheques" title="No. of Cheques"></kendo-grid-column>
      <kendo-grid-column field="pChequefrom" title="From"></kendo-grid-column>
      <kendo-grid-column field="pChequeto" title="To"></kendo-grid-column>
      <kendo-grid-column field="pChqegeneratestatus" title="Status"></kendo-grid-column>
      <kendo-grid-column field="pBankname" title="Bank Name"></kendo-grid-column>
      <kendo-grid-column field="pAccountnumber" title="Account No."></kendo-grid-column>
    </kendo-grid-pdf>

    <kendo-grid-excel fileName="Cheque_Management.xlsx">
        <kendo-excelexport-column-group title="Cheque Management" [headerCellOptions]="headerCells">

      <kendo-excelexport-column field="pChqbookid" title="Book ID"></kendo-excelexport-column>
      <kendo-excelexport-column field="pNoofcheques" title="No. of Cheques"></kendo-excelexport-column>
      <kendo-excelexport-column field="pChequefrom" title="From"></kendo-excelexport-column>
      <kendo-excelexport-column field="pChequeto" title="To"></kendo-excelexport-column>
      <kendo-excelexport-column field="pChqegeneratestatus" title="Status"></kendo-excelexport-column>
      <kendo-excelexport-column field="pBankname" title="Bank Name"></kendo-excelexport-column>
      <kendo-excelexport-column field="pAccountnumber" title="Account No."></kendo-excelexport-column>
        </kendo-excelexport-column-group>
    </kendo-grid-excel>
  </kendo-grid>
</div>
</div>
