<a class="btn btn-b-icon border-0" routerLink="/LoanreceiptNew"><img src="assets/images/icon-add-white.svg" width="20px"
        height="20px" class="mr-2" />New</a>
<div class="row mt-4">
    <div class="col-md-12 col-xl-12">
        <kendo-grid  [kendoGridBinding]="loanReceiptData"  [groupable]="true" 
             [pageSize]="10"  [pageable]="{buttonCount: 2}"
            [reorderable]="true" [resizable]="true" [columnMenu]="{ filter: true }" [pageable]="true" [sortable]="true"
            (remove)="removeHandler($event)">

            <ng-template kendoGridToolbarTemplate>
                <div class="row mb-5">
                    <div class="col-4 pl-0 mt-n1">
                        <input placeholder="Search in all columns..." kendoTextBox class="form-control search-k-cst sb"
                        (input)="onFilter($event.target.value)" />
                    </div>
                    <div class="col-7 pr-0 pl-4 ml-4">
                        <ul class="temp-ul mt-n1 mr-n2  pull-right">
                            <li class="temp-ico ml-2">
                                <a kendoGridPDFCommand><img class="pt-2" src="assets/images/pdf-icon-blue.svg "
                                        title="pdf" width="20px"></a></li>
                            <li class="temp-ico ml-2">
                                <a kendoGridExcelCommand><img class="pt-2" src="assets/images/icon-excel.svg "
                                        title="excel" width="20px"></a></li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <kendo-grid-column-group title="Loan Receipt" [headerClass]="{'kendo-g-center' : true}">
            <kendo-grid-column field="pReceiptdate" title="Loan Receipt Date" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="pReceiptno" width="130" title="Receipt Number">
            </kendo-grid-column>
            <kendo-grid-column field="pLoanno" width="130" title="Loan Number">
            </kendo-grid-column>
            <kendo-grid-column field="pCustomername" width="180" title="Applicant Name">
            </kendo-grid-column>
            <kendo-grid-column field="pModeofreceipt" title="Mode Of Receipt" width="100">
            </kendo-grid-column>
            <kendo-grid-column field="pBankname" title="Bank Name" width="110">
            </kendo-grid-column>
            <kendo-grid-column field="pChequeno" title="Cheque Number" width="160">
            </kendo-grid-column>
            <kendo-grid-column field="pTotalreceived" title="Total Received" width="140" 
            [headerClass]="{'kendo-right': true}" class="kendo-right" [footerClass]="{'kendo-right': true}">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.pTotalreceived |mycurrencypipe }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="pNarration" title="Narration" width="160">
            </kendo-grid-column>
            <kendo-grid-command-column title="" width="100">
                <ng-template kendoGridCellTemplate>
                  <div id="icon-view" kendoGridRemoveCommand></div>
                </ng-template>
              </kendo-grid-command-column>
</kendo-grid-column-group>
            <kendo-grid-pdf fileName="Loanreceiptview.pdf" [allPages]="true" paperSize="A2" [repeatHeaders]="true"
                [landscape]="true">
                <ng-template kendoGridPDFTemplate>
                        <div class="page-template">
                           <div class="header bc-2 text-center">
                            <h5> Loan Receipt </h5>
                           </div>
                         </div>
                       </ng-template>
                <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                <kendo-grid-column field="pReceiptdate" title="Loan Receipt Date" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="pReceiptno" width="130" title="Receipt Number">
                </kendo-grid-column>
                <kendo-grid-column field="pLoanno" width="130" title="Loan Number">
                </kendo-grid-column>
                <kendo-grid-column field="pCustomername" width="180" title="Customer Name">
                </kendo-grid-column>
                <kendo-grid-column field="pModeofreceipt" title="Mode of Receipt" width="100">
                </kendo-grid-column>
                <kendo-grid-column field="pBankname" title="Bank Name" width="110">
                </kendo-grid-column>
                <kendo-grid-column field="pChequeno" title="Cheque Number" width="160">
                </kendo-grid-column>
                <kendo-grid-column field="pTotalreceived" title="Total Received" width="140" 
                [headerClass]="{'kendo-right': true}" class="kendo-right" [footerClass]="{'kendo-right': true}">
                </kendo-grid-column>
                <kendo-grid-column field="pNarration" title="Narration" width="160">
                    </kendo-grid-column>
            </kendo-grid-pdf>

            <kendo-grid-excel fileName="Loanreceiptview.xlsx" >

            </kendo-grid-excel>

        </kendo-grid>
    </div>
</div>