<!-- <form [formGroup]="loanspecificForm">

  <div class="form-group">
    <select class="form-control w-100" formControlName="loantypeId" (change)="loanType_change($event)">
      <option value="Vehicle Loan">Vehicle Loan</option>
      <option value="Home Loan">Home Loan</option>
      <option value="Gold Loan">Gold Loan</option>
      <option value="Loan Against Loan">Loan Against Deposit</option>
      <option value="Education Loan">Education Loan</option>
      <option value="Business Loan">Business Loan</option>
      <option value="Personal Loan">Personal Loan</option>
      <option value="Consumer Loan">Consumer Loan</option>
      <option value="Loan against property">Loan against property</option>

    </select>
  </div> -->
  <!-- <div class="form-group ">
    <select class="form-control w-100" formControlName="pApplicationID" (change)="pApplicationID_change($event)">
      <option value="" ng-selected="selected">Select</option>
      <option *ngFor="let idType of selectedloanTypeData ;" [value]="idType.pApplicantID">
        {{idType.pApplicationID}}</option>
    </select>
  </div> -->
  <!-- <div class="form-group ">
    <select class="form-control w-100">
      <option value="Vignesh Kumar">Vignesh Kumar</option>

    </select>
  </div> -->

<!-- </form> -->
<br>
<div class="col-12 mt-1">
  <div class="row">
    <a class="lc-title">{{loantype}}</a></div>
  <div class="row mt-4">
    <div class="loans-card rounded mr-4 mb-4">
      <div class="row border-bottom p-2">
        <div class="col-md-6 col-xl-6  border-right">
          <p class="bc-2 text-left mb-auto">{{applicant}}</p>
          <p class="lc-txt mt-2 text-left mb-auto"> {{custId}}</p>
        </div>
        <div class="col-md-6 col-xl-6 ">
          <label class="col-12 p-0">{{loantype}}</label>
          <label class="font-weight-bolder">{{vchapplicationid}}</label>
        </div>
      </div>
      <div class="row border-bottom p-2">
        <div class="col-md-6 col-xl-6  border-right">
          <label class="col-12 p-0">Amount Requested</label>
          <label class="bc-2 font-weight-bold">{{pAmountrequested}}</label>
        </div>
        <div class="col-md-6 col-xl-6">
          <label class="col-12 p-0">Tenure of Loan</label>
          <label class="bc-2 font-weight-bold">{{pTenureofloan}} {{payin}}</label>
        </div>
      </div>
      <div class="row p-2 ">
        <div class="col-md-6 col-xl-6  border-right">
          <label class="col-12 p-0">Interest Type</label>
          <label class="font-weight-bolder">{{pInteresttype}}</label>
        </div>
        <div class="col-md-6 col-xl-6 ">
          <div class=" p-2">
            <label class="col-12 p-0">Rate of Interest</label>
            <label class=""><span class="bc-1 btn-lg-icon rounded p-2">{{pRateofinterest}} % <i class="ml-2 lc-txt pad-5">per Annum</i></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-educationloan *ngIf="loantype=='Education Loan'"></app-educationloan>
<app-goldloan *ngIf="loantype=='Gold Loan'" [ApplicantLoanSpecificDetails]="ApplicantLoanSpecificDetails">
</app-goldloan>
<app-businessloan *ngIf="loantype=='Business Loan'"></app-businessloan>
<app-consumerloan (forFiReferencesDataForGetData)="forFiReferencesDataForGetData($event)" *ngIf="loantype=='Consumer Loan'"
  [ApplicantLoanSpecificDetailsforConsumerLoan]="ApplicantLoanSpecificDetails"></app-consumerloan>
<app-homeloan *ngIf="loantype=='Home Loan'"></app-homeloan>
<app-loanagainstdepositsloan *ngIf="loantype=='Loan Against Deposits'" [ApplicantLoanSpecificDetailsForloanAgainstDeposits]="ApplicantLoanSpecificDetails"></app-loanagainstdepositsloan>
<app-vehicle-loan *ngIf="loantype=='Vehicle Loan'"></app-vehicle-loan>
<app-personal-loan [oldData]="oldData" [enteredEmployeeDataToChild]='enteredEmployeeDataToChild'  *ngIf="loantype=='Personal Loan'"></app-personal-loan>
<app-loanagainstpropertyloan (forSecurityColletralMovablePropertyDetailsEmit)="forSecurityColletralMovablePropertyDetailsEmit($event)" (forSecurityColletralPropertyDetailsEmit)="forSecurityColletralPropertyDetailsEmit($event)" *ngIf="loantype=='Loan Against Property'" [properDetails]="properDetails" [movableproperDetails]="movableproperDetails"></app-loanagainstpropertyloan>

<div class="row mt-4 ml-1">
  <div class="col-md-12 col-xl-12">
    <div class="col-md-12 col-xl-12">
      <div class="d-flex justify-content-end mt-4"><a *ngIf="forClearButton" (click)="clearForm()"  class="btn btn-g-icon mr-4 px-3 border-0"><img
            src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" />Clear</a> <a 
          data-toggle="tab" (click)="moveToPreviousTab()" class="btn btn-g-icon px-3 border-0 mr-4" role="tab" aria-controls="hot"
          aria-selected="false"><img src="assets/images/icon-chewron-left-whitesolid.svg" width="20px" height="20px"
            class="mr-3" />Back</a> 

            <!-- <a href="#" data-toggle="tab" class="btn btn-b-icon px-3 border-0 " role="tab"
          aria-controls="hot" aria-selected="false" (click)="nextTabClick()"><img src="assets/images/icon-chewron-right-whitesolid.svg"
            width="20px" height="20px" class="mr-3"  />Save & Continue</a> -->

            <button (click)="nextTabClick()" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab"
            aria-controls="hot" aria-selected="false" [disabled]="isLoading">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading,'fa-check': !isLoading}"></i>
            <span *ngIf="!isLoading">
            </span>{{buttonName}}</button>
      </div>
    </div>
  </div>
</div>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplateForFiView">
  </ngx-loading>

</div>