<div class="row">
	
	<div class="col-md-12 col-xl-12  mt-3">
	  <span (click)="back()" style="background-color: #4b70ff;
		color: #fff; padding: 5px 10px 3px 0px;cursor: pointer;float: right;"><img src="assets/images/icon-back-blue.svg"
		  width="25px" height="25px"> View</span>
	</div>
  </div>

<div class="section-container mt-3">
<div class="row mt-2"> 
    <div class="col-12">
        <p class="bc-2">Insurance for Member</p>
    </div>
</div>
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Loading...
      </h3>

    </div>
  </ng-template>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

</div>
<form [formGroup]="Insurancememberform">
  <div class="row mt-2">
    <div class="col-md-12 col-lg-12 col-xl-12 p-0">
      <div class="col-md-4">
        <div class="form-group">
          <label class="mt-1" for="">Transaction Date</label>
          <div class="form-group">
            <fieldset>
              <input readonly type="text" class="form-control" formControlName="pTransdate" [bsConfig]="dpConfig3" #dp="bsDatepicker" [bsValue]="bsValue" bsDatepicker
                     placement="bottom">
            </fieldset>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12">

        <label id="pInsuranceType" title="Insurance Type">Insurance Type</label>
        <div class="form-group">
          <div class="form-check form-check-inline mr-5 radio-btn-secondary">
            <input class="form-check-input" type="radio" name="pInsuranceType" id="inlineRadio1" formControlName="pInsuranceType" value="Individual Policy"
                   checked>
            <label class="mt-1" for="inlineRadio1"> Individual Policy</label>
          </div>
          <!--<div class="form-check form-check-inline mr-5 radio-btn-secondary">
            <input class="form-check-input" type="radio" name="pInsuranceType" id="inlineRadio2" formControlName="pInsuranceType" value="Group Policy">
            <label class="mt-1" for="inlineRadio2"> Group Policy</label>
          </div>-->
        </div>
      </div>


      <!-- individual policy start -->
      <div class="col-md-12 col-xl-12">
        <div class="individual">
          <div class="row">
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label id="pMembertypeId" title="Member Type">Select Member Type</label>

              
                  <ng-select title="Member Type" id="pMembertypeId" [items]="MembertypeDetails" formControlName="pMembertypeId"
                             bindLabel="pmembertype" bindValue="pmembertypeid" [multiple]=false
                             placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom"
                             [clearOnBackspace]=true (change)="MembertypeChange($event);" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pMembertypeId }">
                  </ng-select>
          

                <div class="invalid-feedback">
                  <span *ngIf="InsuranceMemberErrorMessages.pMembertypeId">{{InsuranceMemberErrorMessages?.pMembertypeId}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4" >
              
              <div class="form-group">
                <label id="pApplicanttype" title="Applicant Type">Applicant Type</label>
              
                  <ng-select  title="Member Type" id="pApplicanttype" [items]="ApplicantList" formControlName="pApplicanttype"
                             bindLabel="pApplicanttype" bindValue="pApplicanttype"  [multiple]=false
                             placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom"
                             [clearOnBackspace]=true (change)="ApplicantypeChange($event);" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pApplicanttype }">
                  </ng-select>
              
                  <div class="invalid-feedback">
                    <span *ngIf="InsuranceMemberErrorMessages.pApplicanttype">{{InsuranceMemberErrorMessages?.pApplicanttype}}</span>
                  </div>
              </div>
              
            </div>
           
            <hr class="light">
          </div>
          <div class="row mt-4">
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label id="pSchemeId" title="Insurance Scheme Name">Insurance Scheme Name</label>
                <ng-select title="Member Type" id="pSchemeId" [items]="InsuranceSchemeDetails" formControlName="pSchemeId"
                           bindLabel="pInsurencename" bindValue="pInsurenceconfigid" [multiple]=false
                           placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom"
                           [clearOnBackspace]=true (change)="InsuranceSchemeDetailsChange($event);" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pSchemeId }">
                </ng-select>
                <div class="invalid-feedback">
                  <span *ngIf="InsuranceMemberErrorMessages.pMemberId">{{InsuranceMemberErrorMessages?.pSchemeId}}</span>
                </div>
              </div>
              <hr class="light">
              <div *ngIf="IsSchemeviewdetails">
                <div class="form-group d-flex pt-4">

                  <label class="col-md-8 pl-0 pr-0">Insurance Scheme Code: </label>
                  <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right"><b>{{SchemeCode}}</b></label>
                </div>

                <div class="form-group d-flex">
                  <label class="col-md-8 pl-0 pr-0">{{claimType}} Claim Amount:</label>
                  <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">{{claimAmount | mycurrencypipe}}</label>
                </div>
                <div class="form-group d-flex">
                  <label class="col-md-8 pl-0 pr-0">Premium Amount </label>
                  <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">{{premiumAmount | mycurrencypipe}}</label>
                </div>
                <div class="form-group d-flex">
                  <label class="col-md-8 pl-0 pr-0">Premium Pay-in</label>
                  <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">{{premiumPayin}}</label>
                </div>
                <div class="form-group d-flex">
                  <label class="col-md-8 pl-0 pr-0">Insurance Scheme Duration</label>
                  <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">{{schemeDuration}}</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label id="pMemberId" title="Member">Search Member</label>
                <ng-select title="Member Type" id="pMemberId" [items]="AllInsuranceMembers" formControlName="pMemberId"
                           bindLabel="pMemberCodeandName" bindValue="pMemberId" [multiple]=false
                           placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom"
                           [clearOnBackspace]=true (change)="MemberChange($event);"  [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pMemberId }">
                </ng-select>
                <div class="invalid-feedback">
                  <span *ngIf="InsuranceMemberErrorMessages.pMemberId">{{InsuranceMemberErrorMessages?.pMemberId}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="form-group mt-4 pt-1">
                <div class="d-flex justify-content-right">
                  <a href="#" data-toggle="modal" data-target="#member-details" class="btn btn-b-icon px-3 border-0 collapsed" aria-expanded="false">
                    <img src="assets/images/icon-add-white.svg"
                         width="20px" height="20px" class="mr-3">View Member details
                  </a>
                </div>
              </div>
            </div>


          </div>


          <div class="row mt-4">
            <hr class="light">
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label>Policy Start Date</label>
                <input class="form-control" type="text" formControlName="pPolicystartdate" (bsValueChange)="policyStartDatechange($event);" [bsConfig]="dpConfig" #dp="bsDatepicker" bsDatepicker placement="bottom" readonly>
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label>Policy End Date</label>
                <input class="form-control m-0" type="text" formControlName="pPolicyenddate" (bsValueChange)="policyEndDatechange($event);" placeholder="Date picker here" [bsConfig]="dpConfig1" #dp="bsDatepicker" bsDatepicker placement="bottom"  readonly>
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="form-group m-0">
                <label>Policy Coverage Period</label>
              </div>
              <div class="form-group">
                <label class="bc-2">{{coveragePeriod}}</label>
              </div>
            </div>
            <hr class="light">
          </div>


          <div class="row mt-4" formGroupName="InsuranceMemberNomineeDetailsList">
            <div class="col-12">
              <p class="bc-2">Nominee Details</p>
            </div>

            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <label  id="pNomineeName" title="Full Name">Full Name</label>
                <input class="form-control" type="text" formControlName="pNomineeName" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pNomineeName }">
                <div class="invalid-feedback">
                  <span *ngIf="InsuranceMemberErrorMessages.pNomineeName">{{InsuranceMemberErrorMessages?.pNomineeName}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <label>Relationship</label>
                <input class="form-control" type="text" formControlName="pNomimneeRelation" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pNomimneeRelation }">
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="d-flex">
                <div class="col-md-6 col-xl-6 pl-0">
                  <div class="form-group">
                    <label>Date of Birth</label>
                    <input class="form-control" type="text" formControlName="Dateofbirth" (bsValueChange)="Dobchange($event);" [bsConfig]="dpConfig2" #dp="bsDatepicker" bsDatepicker placement="bottom" readonly [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.Dateofbirth }">
                  </div>
                </div>
                <div class="col-md-6 col-xl-6 pr-0">
                  <div class="form-group">
                    <label>Age</label>
                    <input class="form-control" type="text" formControlName="pAge" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.pAge }" readonly>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <label id="ContactNo" title="Contact Number">Contact No</label>
                <input class="form-control" type="text" formControlName="ContactNo" appNumbersonly minlength="10" maxlength="12" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.ContactNo }">
                <div class="invalid-feedback">
                  <span *ngIf="InsuranceMemberErrorMessages.ContactNo">{{InsuranceMemberErrorMessages?.ContactNo}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <label>ID Proof Type</label>
                <ng-select title="Member Type" id="IdproofId" [items]="idProofTypeList" formControlName="IdproofId"
                           bindLabel="pDocumentGroup" bindValue="pDocumentGroupId" [multiple]=false
                           placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom"
                           [clearOnBackspace]=true (change)="pidprooftypeChange($event)" [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.IdproofId }">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <label>Identification proof</label>
                <ng-select title="Member Type" id="IdProofname" [items]="idProofList" formControlName="IdProofname"
                           bindLabel="pDocumentName" bindValue="pDocumentName" [multiple]=false
                           placeholder="Select" [searchable]=true [clearable]=true dropdownPosition="bottom"
                           [clearOnBackspace]=true [ngClass]="{ 'is-invalid': InsuranceMemberErrorMessages.IdProofname }">
                </ng-select>
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <label id="pdocidproofpath" title="Upload Identification Proof">Upload Identification Proof</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder=""
                         [value]="imageResponse?.name" disabled formControlName="Idproofpath">
                  <div class="input-group-append">
                    <button class="btn btn-lg-icon px-2 p-0" (click)="fileInput.click()">
                      <img src="assets/images/icon-upload-blue.svg" class="" width="18px" height="18px">
                    </button>
                    <!-- to uplaod the image -->
                    <input id="fileKycNomineeDetails" style="display: none" type="file" (change)="uploadAndProgress($event,fileInput.files)" #fileInput>
                  </div>
                  <!-- <span class="text-success">
                <ng-container *ngIf="uploadSuccess"></ng-container>
              </span> -->
                </div>

              </div>
            </div>
            <div class="col-md-12 col-xl-12">
              <div class="d-flex justify-content-end mt-4">
                <a (click)="AddDataToDataTable()" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot"
                   aria-selected="false">
                  <img src="assets/images/icon-add-white.svg" class="mr-3" width="20px"
                       height="20px">Add
                </a>
              </div>
            </div>


          </div>
          <div class="row mt-4">
            <div class="col-md-12 col-xl-12">
              <kendo-grid [data]="NomineeDetailslist" [height]="250" [pageSize]="gridState.take" [skip]="gridState.skip"
                          [sort]="gridState.sort" [pageable]="false" [sortable]="true" (edit)="datatableclickedit($event)"
                          (remove)="removeHandler($event)"
                          [selectable]="selectableSettings">
                <kendo-grid-column field="pNomineeName" title="Nominee Name" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="pNomimneeRelation" title="Nomimnee Relation" width="150">
                </kendo-grid-column>
                <kendo-grid-column field="Dateofbirth" title="DOB" width="150"></kendo-grid-column>
                <kendo-grid-column field="pAge" title="Age" width="150"></kendo-grid-column>

                <kendo-grid-command-column title="" width="100">
                  <ng-template kendoGridCellTemplate>
                    
                    <div id="icon-remove" kendoGridRemoveCommand></div>
                  </ng-template>
                </kendo-grid-command-column>
              </kendo-grid>
        
            </div>
          </div>
          <div class="row mt-4">

            <div class="col-md-12 col-xl-12">
              <div class="d-flex justify-content-end mt-4">
                <a href="#" class="btn btn-g-icon mr-4 px-3 border-0">
                  <img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear
                </a>
                <a (click)="SaveInsurancemember()" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot"
                   aria-selected="false">
                  <img src="assets/images/icon-check-white.svg" width="20px" height="20px"
                       class="mr-3">Save
                </a>
              </div>
            </div>

          </div>
        </div>
        <!-- individual policy end -->
      </div>


      <!-- group policy start -->
      <div class="col-md-12 col-xl-12">
        <div class="group radio-toggle">
          <div class="row">
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label>Insurance Scheme Name</label>
                <select class="form-control">
                  <option>ABHAYANIDHI INSURANCE SCHEME</option>
                  <option>DEATH RELIEF SCHEME</option>
                </select>
              </div>
            </div>
            <hr class="light">
          </div>


          <div class="row mt-4">
            <div class="col-md-6 col-xl-6">
              <div class="form-group d-flex">
                <label class="col-md-8 pl-0 pr-0">Insurance Scheme Code</label>
                <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right"><b>AIRM001001</b></label>
              </div>
              <div class="form-group d-flex">
                <label class="col-md-8 pl-0 pr-0">Death / Permanent Disability Claim Amount :</label>
                <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">10,000</label>
              </div>
              <div class="form-group d-flex">
                <label class="col-md-8 pl-0 pr-0">Partial Disability Claim Amount :</label>
                <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">5,000</label>
              </div>
              <div class="form-group d-flex">
                <label class="col-md-8 pl-0 pr-0">Premium Amount </label>
                <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">700</label>
              </div>
              <div class="form-group d-flex">
                <label class="col-md-8 pl-0 pr-0">Premium Pay-in</label>
                <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">Yearly</label>
              </div>
              <div class="form-group d-flex">
                <label class="col-md-8 pl-0 pr-0">Insurance Scheme Duration</label>
                <label class="col-md-4 pl-0 pr-0 sec-head-bold text-right">Yearly</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <hr class="light">
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label>Policy Start Date</label>
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label>Policy End Date</label>
                <input class="form-control m-0" type="text">
              </div>
            </div>
            <div class="col-md-4 col-xl-4">
              <div class="form-group m-0">
                <label>Policy Coverage Period </label>
              </div>
              <div class="form-group">
                <label class="bc-2">1 Year 0 Months 0 Days</label>
              </div>
            </div>
            <hr class="light">
          </div>

          <div class="row mt-4">
            <div class="col-md-4 col-xl-4">
              <div class="form-group">
                <label>Search Group</label>
                <select class="form-control">
                  <option>GANGA</option>
                  <option>KAVERI</option>
                  <option>YAMUNA</option>
                  <option>SARASWATHI</option>
                </select>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-end">
                  <a href="#" class="btn btn-b-icon border-0" data-toggle="collapse" data-target="#"
                     aria-expanded="false">
                    <img src="assets/images/icon-add-white.svg" width="20px" height="20px"
                         class="mr-3">Add
                  </a>
                </div>
              </div>

            </div>

          </div>
          <div class="row mt-4">

            <div class="col-md-12 col-xl-12 mt-3">
              <table id="example" class="table text-center">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Role in the Group</th>
                    <th>Contact Name</th>
                    <th>Contact Number</th>
                    <th>Premium Paid Status </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td> Group Head / Leader </td>
                    <td>Harita Rao</td>
                    <td>9848799777</td>
                    <td>
                      <div class="material-switch">
                        <input id="paid" name="paid" type="checkbox" checked>
                        <label for="paid" class="check-success"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="checkbox" /></td>
                    <td>Group Member</td>
                    <td>Aadi Y</td>
                    <td>9848198481</td>
                    <td>
                      <div class="material-switch">
                        <input id="unpaid" name="unpaid" type="checkbox">
                        <label for="unpaid" class="check-success"></label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div class="form-group">
                <div class="d-flex justify-content-end">
                  <a href="#" class="btn btn-b-icon border-0 mr-3" data-toggle="collapse" data-target="#"
                     aria-expanded="false">
                    <img src="assets/images/icon-add-white.svg" width="20px" height="20px"
                         class="mr-3">Add
                  </a>
                  <a href="#" class="btn btn-b-icon px-3 border-0 collapsed" data-toggle="collapse"
                     data-target="#view-member" aria-expanded="false">
                    <img src="assets/images/icon-add-white.svg"
                         width="20px" height="20px" class="mr-3">View Member details
                  </a>
                </div>
              </div>


            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-xl-6">
              <div id="view-member" class="collapse">
                <table class="table border">

                  <tbody>
                    <tr>
                      <td>Account holder Name</td>
                      <td><strong class="sec-head-bold">Aadi Y</strong></td>
                    </tr>
                    <tr>
                      <td>Contact ID</td>
                      <td>BJS010011111</td>
                    </tr>
                    <tr>
                      <td><strong class="sec-head-bold">Member ID</strong></td>
                      <td><strong class="sec-head-bold">BSRM001001777</strong></td>
                    </tr>
                    <tr>
                      <td>Date of Joining</td>
                      <td>01-Jan-2010</td>
                    </tr>
                    <tr>
                      <td>Member Type</td>
                      <td>Individual</td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td>22-Dec-1980</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>39</td>
                    </tr>
                    <tr>
                      <td>Nominee</td>
                      <td>Hemanya</td>
                    </tr>
                    <tr>
                      <td>Relation</td>
                      <td>Daughter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


          <div class="row mt-4">
            <hr class="light">

            <div class="col-md-12 col-xl-12 mt-4">
              <table id="example" class="table text-center">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Member Name</th>
                    <th>Member ID</th>
                    <th>Premium</th>
                    <th>Policy Start Date</th>
                    <th>Policy End Date</th>
                    <th>Coverage Period</th>
                    <th>Nominee</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> 1 </td>
                    <td>Aadi Y</td>
                    <td>4321/VL/005/19_Aadi Y</td>
                    <td>700</td>
                    <td>05-Oct-2018</td>
                    <td>05-Oct-2019</td>
                    <td>1 Year</td>
                    <td>Durga Y</td>
                    <td>
                      <div id="icon-edit"></div>
                      <div id="icon-delete"></div>
                    </td>
                  </tr>
                  <tr>
                    <td> 2 </td>
                    <td>Chenna Sunil</td>
                    <td>1234/PL/005/19_Sunil</td>
                    <td>700</td>
                    <td>04-July-2018</td>
                    <td>04-July-2019</td>
                    <td>24 Months</td>
                    <td>Kesava Rao</td>
                    <td>
                      <div id="icon-edit"></div>
                      <div id="icon-delete"></div>
                    </td>
                  </tr>
                  <tr>
                    <td> 3 </td>
                    <td>Sai</td>
                    <td>1234/PL/005/19_Sunil</td>
                    <td>700</td>
                    <td>04-July-2018</td>
                    <td>04-July-2019</td>
                    <td>24 Months</td>
                    <td>Kesava Rao</td>
                    <td>
                      <div id="icon-edit"></div>
                      <div id="icon-delete"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <div class="col-md-12 col-xl-12">
              <div class="d-flex justify-content-end mt-4">
                <a href="#" class="btn btn-g-icon mr-4 px-3 border-0">
                  <img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3">Clear
                </a>
                <a (click)="SaveInsurancemember()" data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot"
                   aria-selected="false">
                  <img src="assets/images/icon-check-white.svg" width="20px" height="20px"
                       class="mr-3">Save
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- group policy end -->
      <!-- main content end -->
    </div>
</form>
</div>
  <!-- member details start -->
  <div class="modal right slideInRight" id="member-details">
    <div class="modal-dialog" style="margin-right:0px !important; ">
      <div class="model-cst modal-content">

        <div class="modal-body">
          <div class="col-md-12">
            <p class="bc-2">
              Member Details
            </p>
            <table class="table border">
              <tbody>
                <tr>
                  <td>Account holder Name</td>
                  <td><strong class="sec-head-bold">{{accountHoldername}}</strong></td>
                </tr>
                <tr>
                  <td>Contact ID</td>
                  <td>{{membercontactId}}</td>
                </tr>
                <tr>
                  <td><strong class="sec-head-bold">Member ID</strong></td>
                  <td><strong class="sec-head-bold">{{memberId}}</strong></td>
                </tr>
                <tr>
                  <td>Date of Joining</td>
                  <td>{{Doj}}</td>
                </tr>
                <tr>
                  <td>Member Type</td>
                  <td>{{membertype}}</td>
                </tr>
                <tr>
                  <td>Date of Birth</td>
                  <td>{{Dob}}</td>
                </tr>
                <tr>
                  <td>Age</td>
                  <td>{{age}}</td>
                </tr>
                <tr>
                  <td>Nominee</td>
                  <td>{{nominee}}</td>
                </tr>
                <tr>
                  <td>Relation</td>
                  <td>{{relation}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- member details end -->
