

<div class="row mt-4">
  <div class="col d-flex flex-wrap align-items-center">
    <a class="btn btn-b-icon border-0" routerLink="/InsuranceMemberNew" (click)="NewButtonClick('New')">
      <img width="20" height="20" class="mr-2" src="assets/images/icon-add-white.svg">New
    </a>

  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12 col-xl-12">
    <kendo-grid [kendoGridBinding]="InsuranceMembersList" [groupable]="false" [height]="480"
                [resizable]="true" [pageSize]="10" [skip]="skip" [reorderable]="true" [height]="480"
                [columnMenu]="{ filter: true }" [pageable]="{ buttonCount: 2 }" [sortable]="true" (edit)="datatableclickedit($event)"
                (remove)="removeHandler($event)">
      <ng-template kendoGridToolbarTemplate>

        <div class="row mb-5">
          <div class="col-4 pl-0 mt-n1">
            <input placeholder="Search in all columns..." kendoTextBox class="form-control search-k-cst sb"
                   (input)="SearchRecord($event.target.value)" />
          </div>
         
        </div>
      </ng-template>
      <kendo-grid-column-group title="Insurance Member" [headerClass]="{'kendo-g-center' : true}">
        <kendo-grid-command-column field="" title="Edit" width="40" [locked]="true">
          <ng-template kendoGridCellTemplate>
            <button kendoGridEditCommand>
              <div id="icon-edit"></div>
            </button>
          </ng-template>
        </kendo-grid-command-column>

        <kendo-grid-command-column  title="Delete" width="40" [locked]="true">
          <ng-template kendoGridCellTemplate>
            <button kendoGridRemoveCommand>
              <div id="icon-delete"></div>
            </button>
          </ng-template>
        </kendo-grid-command-column>
      
        <kendo-grid-column field="pMembername" title="Member Name" width="70"></kendo-grid-column>
        <kendo-grid-column field="pMemberCodeandName" title="Member ID" width="70"></kendo-grid-column>
        <kendo-grid-column field="premiumamount" title="Premium" width="80"> </kendo-grid-column>
        <kendo-grid-column field="pPolicystartdate" title="Policy Start Date" width="80"> </kendo-grid-column>
        <kendo-grid-column field="pPolicyenddate" title="Policy End Date" width="80"> </kendo-grid-column>
        <kendo-grid-column field="pPolicycoveragePeriod" title="Coverage Period" width="80"> </kendo-grid-column>
      </kendo-grid-column-group>

    </kendo-grid>
  </div>
</div>


