
<div class="row">
    <div class="col-md-12 col-xl-12  mt-3">
      <p class="bc-2">Journal Voucher</p>
    </div>
  </div>
  <form [formGroup]="paymentVoucherForm" autocomplete="off">
    <div class="row mt-2">
      <div class="col-md-6 col-xl-4">
        <div class="form-group">
          <label id="pjvdate" title="jvdate">Date</label>
          <fieldset [disabled]="!disabletransactiondate">
            <input class="form-control" readonly type="text" [bsConfig]="ppaymentdateConfig" bsDatepicker formControlName="pjvdate" [ngClass]="{ 'is-invalid': formValidationMessages?.pjvdate }">
          </fieldset>
        </div>
      </div>
  
    </div>
  
  
  
  
  
    <hr class="light">
    <div class="row" formGroupName="ppaymentsslistcontrols">
      <div class="col-md-6 col-xl-4">
        <div class="form-group">
          <div class="input-group">
            <label>Ledger</label>
            <!--<select class="form-control" id="pledgername" title="Ledger" formControlName="pledgerid" [ngClass]="{ 'is-invalid': formValidationMessages.pledgername }" (change)="ledgerName_Change($event)">
      <option value="" ng-selected="selected">Select</option>
      <option *ngFor="let ledgeraccounts of ledgeraccountslist;trackBy: trackByFn" [value]="ledgeraccounts.pledgerid">{{ledgeraccounts.pledgername}}</option>
    </select>-->
            <!--<ng-select [items]="ledgeraccountslist" formControlName="pledgerid" bindLabel="pledgername"
               bindValue="pledgerid" [multiple]=false placeholder="Select" [searchable]=true [clearable]=true
               dropdownPosition="bottom" [clearOnBackspace]=true (change)="ledgerName_Change($event)"
               [ngClass]="{ 'is-invalid': formValidationMessages.pledgername }">
    </ng-select>-->
  
            <ng-select id="pledgername" title="Ledger" [items]="ledgeraccountslist"
                       formControlName="pledgerid"
                       groupBy="pAccounttype"
                       bindLabel="pledgername"
                       bindValue="pledgerid"
                       [multiple]=false
                       placeholder="Select"
                       [searchable]=true
                       [clearable]=false
                       dropdownPosition="bottom"
                       [clearOnBackspace]=true
                       (change)="ledgerName_Change($event)" [ngClass]="{ 'is-invalid': formValidationMessages.pledgername }" style="width:400px">
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.pAccounttype}}
              </ng-template>
            </ng-select>
  
  
            <span class=" position-absolute font-italic" style="right:-120px; top:35px;">{{ledgerBalance}}</span>
          </div>
          <app-validation-message [messgae]="formValidationMessages?.pledgername"></app-validation-message>
  
        </div>
  
        <div class="form-group" *ngIf="showsubledger">
          <div class="input-group">
            <label id="psubledgerid" title="Sub Ledger">Sub Ledger</label>
  
            <!-- <select class="form-control" id="psubledgername" title="Sub Ledger" formControlName="psubledgerid" [ngClass]="{ 'is-invalid': formValidationMessages.psubledgername }" (change)="subledger_Change($event)">
        <option value="" ng-selected="selected">Select</option>
        <option *ngFor="let subledgeraccounts of subledgeraccountslist;trackBy: trackByFn" [value]="subledgeraccounts.psubledgerid">{{subledgeraccounts.psubledgername}}</option>
      </select> -->
            <ng-select id="psubledgername" title="Sub Ledger" [items]="subledgeraccountslist" formControlName="psubledgerid" bindLabel="psubledgername"
                       bindValue="psubledgerid" [multiple]=false placeholder="Select" [searchable]=true [clearable]=true
                       dropdownPosition="bottom" [clearOnBackspace]=true (change)="subledger_Change($event)"
                       [ngClass]="{ 'is-invalid': formValidationMessages.psubledgername }" style="width:400px">
            </ng-select>
            <!--<div class="input-group-append">
        <button class="btn btn-lg-icon rounded-right px-2 p-0"> <img src="assets/images/icon-add-blue.svg" class="" width="20px" height="20px"></button>
      </div>-->
            <span class=" position-absolute font-italic" style="right:-120px; top:30px;">{{subledgerBalance}}</span>
            </div>
            <app-validation-message [messgae]="formValidationMessages?.psubledgername"></app-validation-message>
  
          </div>
  
        <div class="form-group">
          <div class="input-group">
            <label id="ppartyid" title="Party">Party</label>
  
            <!-- <select class="form-control" id="ppartyname" title="Party" formControlName="ppartyid" [ngClass]="{ 'is-invalid': formValidationMessages.ppartyname }" (change)="partyName_Change($event)">
        <option value="" ng-selected="selected">Select</option>
        <option *ngFor="let party of partylist;trackBy: trackByFn" [value]="party.ppartyid">{{party.ppartyname}}</option>
      </select> -->
            
            <ng-select id="ppartyname" title="Party" [items]="partylist" formControlName="ppartyid" bindLabel="ppartyname"
                       bindValue="ppartyid" [multiple]=false placeholder="Select" [searchable]=true [clearable]=true
                       dropdownPosition="bottom" [clearOnBackspace]=true (change)="partyName_Change($event)"
                       [ngClass]="{ 'is-invalid': formValidationMessages.ppartyname }" style="width:400px">
            </ng-select>
            <!--<div class="input-group-append">
        <button class="btn btn-lg-icon px-2 rounded-right p-0"> <img src="assets/images/icon-add-blue.svg" class="" width="20px" height="20px"></button>
      </div>-->
            <app-validation-message [messgae]="formValidationMessages?.ppartyname"></app-validation-message>
            <span class=" position-absolute font-italic" style="right:-120px; top:30px;">{{partyBalance}}</span>
            </div>
  
          </div>
  
          <div class="form-group">
            <!--<label class="pl-0 pr-0">Amount Paid</label>
      <input class="form-control border-warning sec-head-bold " type="text" placeholder="" id="pamount" title="Amount Paid" formControlName="pamount" appRoundecimal="12@0" [ngClass]="{ 'is-invalid': formValidationMessages.pamount }" (blur)="pamount_change()" appMycurrencyFormatter>
      <app-validation-message [messgae]="formValidationMessages?.pamount"></app-validation-message>-->
          </div>
          <div class="d-flex">
            <div class="form-group pr-1">
              <!--"-->
              <!-- (keyup)="disableamounttype('Credit')"-->
              <label class="pl-0 pr-0">Debit</label>
              <input class="form-control border-warning sec-head-bold " style="text-align:right;" id="pdebitamount" formControlName="pdebitamount" [readonly]="readonlydebit" type="text" appDecimalwithcurrencyformat  maxlength="12" placeholder="" [ngClass]="{ 'is-invalid': formValidationMessages.pdebitamount }" (keyup)="disableamounttype('Debit')" (blur)="pamount_change()"  appMycurrencyFormatter>
              <app-validation-message [messgae]="formValidationMessages?.pdebitamount"></app-validation-message>
            </div>
            <div class="form-group pl-1">
              <label class="pl-0 pr-0">Credit</label>
              <input class="form-control border-warning sec-head-bold " style="text-align:right;" id="pcreditamount" formControlName="pcreditamount" [readonly]="readonlycredit" type="text" appDecimalwithcurrencyformat maxlength="12" placeholder="" [ngClass]="{ 'is-invalid': formValidationMessages.pcreditamount }" (keyup)="disableamounttype('Credit')" (blur)="pamount_change()"  appMycurrencyFormatter>
              <app-validation-message [messgae]="formValidationMessages?.pdebitamount"></app-validation-message>
            </div>
  
          </div>
          <div class=" d-flex justify-content-end mt-4">
            <!--<a class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" appButtonDoubleClick [debounceTime]="500" (debounceClick)="clearPaymentDetails()">Clear</a>-->
  
            <a class="btn btn-g-icon mr-4 px-3 border-0" (click)="clearPaymentDetails()"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" appButtonDoubleClick [debounceTime]="500">Clear</a>
            <a data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="500" (debounceClick)="addPaymentDetails()"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-3">Add</a>
          </div>
        </div>
  
      <div class="col-md-6 col-xl-7 offset-1 pt-2" >
        <div *ngIf="showgstandtds">
          <div class="form-group">
            <div class="border rounded p-2 mt-3">
              <div class="col-md-12 col-xl-12 mt-2 mb-2">
                <fieldset [disabled]="disablegst">
                  <div class="material-switch">
                    <span class="mr-2" id="pisgstapplicable" title="GST"> GST </span>
                    <input id="gst-switch" name="gst-switch" formControlName="pisgstapplicable" type="checkbox" (change)="isgstapplicableChange();">
                    <label for="gst-switch" class="badge-success" data-toggle="collapse" data-target="#gst"></label>
                  </div>
                </fieldset>
                <div id="gst" *ngIf="showgst">
                  <div class="row">
                    <fieldset [disabled]="disablegst">
                      <div class="col-md-12 col-xl-12" id="pgstcalculationtype" title="GST Calculation Type">
                        <div class="form-check form-check-inline mr-4">
                          <input class="form-check-input" type="radio" id="procgstinc" formControlName="pgstcalculationtype" name="pgstcalculationtype" value="INCLUDE" (change)="claculategsttdsamounts()" [ngClass]="{ 'is-invalid': formValidationMessages.pgstcalculationtype }">
                          <label class="mt-1" for="procgstinc"> Include</label>
                        </div>
                        <div class="form-check form-check-inline mr-4 mb-2 mt-2">
                          <input class="form-check-input" type="radio" id="procgstexc" formControlName="pgstcalculationtype" name="pgstcalculationtype" value="EXCLUDE" [ngClass]="{ 'is-invalid': formValidationMessages.pgstcalculationtype }" (change)="claculategsttdsamounts()">
                          <label class="mt-1" for="procgstexc"> Exclude </label>
                        </div>
                        <app-validation-message [messgae]="formValidationMessages?.pgstcalculationtype"></app-validation-message>
  
                      </div>
                    </fieldset>
                    <div class="col-md-12 col-xl-12">
                      <div class="d-flex">
                        <div class="form-group mr-1 col-md-4">
                          <label>State</label>
                          <select class="form-control" id="pState" title="State" formControlName="pStateId" [ngClass]="{ 'is-invalid': formValidationMessages.pState }" (change)="state_change($event)">
                            <option value="" ng-selected="selected">Select</option>
                            <option *ngFor="let state of statelist;trackBy: trackByFn" [value]="state.pStateId">{{state.pState}}</option>
                          </select>
                          <app-validation-message [messgae]="formValidationMessages?.pState"></app-validation-message>
                        </div>
  
                        <div class="form-group mr-1 col-md-4" *ngIf="showgstno">
                          <label>GST No.</label>
                          <input type="text" class="form-control col-md-12" id="pgstno" title=">GST No." formControlName="pgstno" [ngClass]="{ 'is-invalid': formValidationMessages.pgstno }" (blur)="gsno_change()" />
                          <app-validation-message [messgae]="formValidationMessages?.pgstno"></app-validation-message>
  
                        </div>
                        <div class="form-group mr-1 col-md-4">
                          <label>GST(%)</label>
                          <select class="form-control" id="pgstpercentage" title="GST(%)" formControlName="pgstpercentage" [ngClass]="{ 'is-invalid': formValidationMessages.pgstpercentage }" (change)="gst_Change($event)">
                            <option value="" ng-selected="selected">Select</option>
                            <option *ngFor="let gst of gstlist;trackBy: trackByFn" [value]="gst.pgstpercentage">{{gst.pgstpercentage}}</option>
  
                          </select>
                          <app-validation-message [messgae]="formValidationMessages?.pgstpercentage"></app-validation-message>
                        </div>
                      </div>
  
                      <div class="d-flex">
                        <div class="form-group mr-1 col-md-4" *ngIf="showgstamount">
                          <label>Amount</label>
                          <label class="form-control col-md-12">{{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].pgstamount.value}}</label>
                        </div>
                        <div class="form-group mr-1 col-md-4" *ngIf="showigst">
                          <label>IGST({{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].pigstpercentage.value}})</label>
                          <label class="col-md-12">{{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].pigstamount.value}}</label>
                        </div>
                        <div class="form-group mr-1 col-md-4" *ngIf="showcgst">
                          <label>CGST ({{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].pcgstpercentage.value}})</label>
                          <label class="col-md-12">{{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].pcgstamount.value}}</label>
                          <!--<input type="text" formControlName="pcgstpercentage" class="form-control col-md-12" />-->
                        </div>
                        <div class="form-group  mr-1 col-md-4" *ngIf="showsgst">
                          <label>SGST({{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].psgstpercentage.value}})</label>
                          <label class="col-md-12">{{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].psgstamount.value}}</label>
                        </div>
                        <div class="form-group  mr-1 col-md-4" *ngIf="showutgst">
                          <label>UTGST({{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].putgstpercentage.value}})</label>
                          <label class="col-md-12">{{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].putgstamount.value}}</label>
                        </div>
                      </div>
  
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="form-group">
            <div class="border rounded p-2 mt-3">
              <div class="col-md-12 col-xl-12 mt-2 mb-2">
                <div class="material-switch">
                  <span class="mr-2" id="pistdsapplicable" title="TDS"> TDS </span>
                  <input id="tds-switch" name="tds-switch" formControlName="pistdsapplicable" type="checkbox" (change)="istdsapplicableChange()" [ngClass]="{ 'is-invalid': formValidationMessages.pistdsapplicable }">
                  <label for="tds-switch" class="badge-success" data-toggle="collapse" data-target="#tds"></label>
                </div>
                <div id="tds" *ngIf="showtds">
                  <div class="row">
                    <fieldset [disabled]="disablegst">
                      <div class="col-md-12 col-xl-12" id="ptdscalculationtype" title="TDS Calculation Type">
                        <div class="form-check form-check-inline radio-btn-secondary mr-4 ">
                          <input class="form-check-input" type="radio" id="tdsinclude" value="INCLUDE" formControlName="ptdscalculationtype" name="ptdscalculationtype" [ngClass]="{ 'is-invalid': formValidationMessages.ptdscalculationtype }" (change)="claculategsttdsamounts()">
                          <label class="mt-1" for="tdsinclude"> Include</label>
                        </div>
                        <div class="form-check form-check-inline radio-btn-secondary mr-4 mb-2 mt-2">
                          <input class="form-check-input" type="radio" id="tdsexcluded" value="EXCLUDE" formControlName="ptdscalculationtype" name="ptdscalculationtype" [ngClass]="{ 'is-invalid': formValidationMessages.ptdscalculationtype }" (change)="claculategsttdsamounts()">
                          <label class="mt-1" for="tdsexcluded"> Exclude</label>
                        </div>
                        <app-validation-message [messgae]="formValidationMessages?.ptdscalculationtype"></app-validation-message>
                      </div>
                    </fieldset>
                    <div class="col-md-4 col-xl-4">
                      <label>Section</label>
                      <select class="form-control" id="pTdsSection" title="Section" formControlName="pTdsSection" [ngClass]="{ 'is-invalid': formValidationMessages.pTdsSection }" (change)="tdsSection_Change($event)">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let tds of tdssectionlist;trackBy: trackByFn" [value]="tds.pTdsSection">{{tds.pTdsSection}}</option>
  
                      </select>
                      <app-validation-message [messgae]="formValidationMessages?.pTdsSection"></app-validation-message>
                    </div>
                    <div class="col-md-4 col-xl-4">
                      <label>Percentage</label>
                      <select class="form-control" id="pTdsPercentage" title="Section" formControlName="pTdsPercentage" [ngClass]="{ 'is-invalid': formValidationMessages.pTdsPercentage }" (change)="tds_Change($event)">
                        <option value="" ng-selected="selected">Select</option>
                        <option *ngFor="let tds of tdspercentagelist;trackBy: trackByFn" [value]="tds.pTdsPercentage">{{tds.pTdsPercentage}}</option>
  
                      </select>
                      <app-validation-message [messgae]="formValidationMessages?.pTdsPercentage"></app-validation-message>
                    </div>
                    <div class="col-md-4 col-xl-4">
                      <label>Amount</label>
                      <label class="form-control col-md-12" id="ptdsamount" title="Section" [ngClass]="{ 'is-invalid': formValidationMessages.ptdsamount }">{{paymentVoucherForm['controls'].ppaymentsslistcontrols['controls'].ptdsamount.value}}</label>
                      <!--<input class="form-control" type="text" id="ptdsamount" title="Section" formControlName="ptdsamount" [ngClass]="{ 'is-invalid': formValidationMessages.ptdsamount }" />-->
                      <app-validation-message [messgae]="formValidationMessages?.ptdsamount"></app-validation-message>
  
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class=" d-flex justify-content-end mt-4">
          <a class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" appButtonDoubleClick [debounceTime]="500" (debounceClick)="clearPaymentDetails()">Clear</a>
          <a data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="500" (debounceClick)="addPaymentDetails()"><img src="assets/images/icon-add-white.svg" width="20px" height="20px" class="mr-3">Add</a>
        </div>-->
  
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-md-12 col-xl-12 pt-4">
  
        <div class="rounded border">
  
          <kendo-grid [data]="paymentslist" [height]="250" [pageSize]="gridState.take" [skip]="gridState.skip"
                      [sort]="gridState.sort" [pageable]="false" [sortable]="true"
                       (remove)="removeHandler($event)"
                      [selectable]="selectableSettings">
  
            <kendo-grid-column field="ppartyname" title="Party Name" width="150" >
            </kendo-grid-column>
            <kendo-grid-column field="pledgername" title="Ledger Name" width="150"></kendo-grid-column>
            <kendo-grid-column field="psubledgername" title="Sub Ledger Name" width="150" ></kendo-grid-column>
            <!--<kendo-grid-column field="pamount" title="Paid Amount" width="120"></kendo-grid-column> let-dataItem-->
            <kendo-grid-column field="ptotaldebitamount" title="Debit" width="120" [headerClass]="{'kendo-right': true}" class="kendo-right" [footerClass]="{'kendo-right': true}">
              
              <ng-template kendoGridFooterTemplate>
  
                {{paymentlistcolumnwiselist.ptotaldebitamount}}
              </ng-template>
  
            </kendo-grid-column>
            <kendo-grid-column field="ptotalcreditamount" title="Credit" width="120" [headerClass]="{'kendo-right': true}" class="kendo-right" [footerClass]="{'kendo-right': true}">
            
              <ng-template kendoGridFooterTemplate>
                {{paymentlistcolumnwiselist.ptotalcreditamount}}
              </ng-template>
            </kendo-grid-column>
            <!--<kendo-grid-column field="pamount" title="Paid Amount" width="120">
              <ng-template kendoGridFooterTemplate>
                {{paymentlistcolumnwiselist.pamount}}
              </ng-template>
            </kendo-grid-column>-->
            <!--<kendo-grid-column field="pgsttype" title="GST Type" width="150"></kendo-grid-column>-->
            <!--<kendo-grid-column field="pgstcalculationtype" title="GST Type" width="100"></kendo-grid-column>
            <kendo-grid-column field="pgstpercentage" title="GST Percentage" width="120"></kendo-grid-column>
            <kendo-grid-column field="pgstamount" title="GST Amount" width="110"></kendo-grid-column>-->
  
            <!--<kendo-grid-column field="pigstamount" title="IGST Amount" width="150"></kendo-grid-column>
    <kendo-grid-column field="pcgstamount" title="CGST Amount" width="150"></kendo-grid-column>
    <kendo-grid-column field="psgstamount" title="SGST Amount" width="150"></kendo-grid-column>
    <kendo-grid-column field="putgstamount" title="UTGST Amount" width="150"></kendo-grid-column>-->
            <!--<kendo-grid-column field="ptdscalculationtype" title="TDS Type" width="120"></kendo-grid-column>
            <kendo-grid-column field="pTdsSection" title="TDS Section" width="120"></kendo-grid-column>
            <kendo-grid-column field="pTdsPercentage" title="TDS Percentage" width="110"></kendo-grid-column>
            <kendo-grid-column field="ptdsamount" title="TDS Amount" width="100">
              <ng-template kendoGridFooterTemplate>
                {{paymentlistcolumnwiselist.ptdsamount}}
              </ng-template>
  
            </kendo-grid-column>-->
       
  
            <kendo-grid-command-column title="" width="100">
              <ng-template kendoGridCellTemplate>
                <div id="icon-remove" kendoGridRemoveCommand></div>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
  
        </div>
  
  
  
        <div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-6">
        <div class="border mt-2 rounded">
          <kendo-grid [data]="paymentslist" [height]="120" [pageSize]="gridState.take" [skip]="gridState.skip">
            <kendo-grid-column field="pledgername" title="Journal Entry" width="150"></kendo-grid-column>
            <kendo-grid-column field="ptotaldebitamount" title="Dr" width="150"></kendo-grid-column>
            <kendo-grid-column field="ptotalcreditamount" title="Cr" width="150"></kendo-grid-column>
  
          </kendo-grid>
        </div>
  
      </div>
  
      <div class="col-md-6 col-xl-6">
        <div class="form-group mt-2">
          <label>Narration</label>
          <textarea class="form-control" rows="4" id="pnarration" title="Narration" formControlName="pnarration" maxlength="300" [ngClass]="{ 'is-invalid': formValidationMessages.pnarration }"></textarea>
  
          <app-validation-message [messgae]="formValidationMessages?.pnarration"></app-validation-message>
  
        </div>
        <div class="form-group col-md-6 pl-0">
          <div class="form-group">
            <label id="pDocStorePath" title="Upload Document">Upload Document</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" [value]="imageResponse?.name" disabled
                     formControlName="pDocStorePath">
              <div class="input-group-append">
                <button class="btn btn-lg-icon px-2 p-0" (click)="fileInput.click()">
                  <img src="assets/images/icon-upload-blue.svg" class="" width="18px" height="18px">
                </button>
                <!-- to uplaod the image -->
                <input style="display: none" type="file" (change)="uploadAndProgress($event,fileInput.files)" #fileInput>
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- row end -->
  </form>
  <hr>
  
  <!------------- save Buttons ------------>
  
  <div class="row mt-4 ml-1 mb-4">
    <div class="col-md-12 col-xl-12">
      <div class="d-flex justify-content-end mt-4">
        <!--<a class="btn btn-g-icon mr-4 px-3 border-0"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" appButtonDoubleClick [debounceTime]="500" (debounceClick)="clearPaymentVoucher()">Clear</a>-->
        <a class="btn btn-g-icon mr-4 px-3 border-0" (click)="clearPaymentVoucher()"><img src="assets/images/icon-cancel-white.svg" width="20px" height="20px" class="mr-3" appButtonDoubleClick [debounceTime]="500">Clear</a>
        <button (click)="saveJournalVoucher()" class="btn btn-b-icon px-3 border-0"
                [disabled]="disablesavebutton">
          <i class="fa"
             [ngClass]="{'fa-spin fa-spinner': disablesavebutton, 'fa-check': !disablesavebutton}"></i> {{savebutton}}
        </button>
  
        <!--<a data-toggle="tab" class="btn btn-b-icon px-3 border-0" role="tab" aria-controls="hot" aria-selected="false" appButtonDoubleClick [debounceTime]="500" (debounceClick)="saveJournalVoucher()"><img src="assets/images/icon-check-white.svg" width="20px" height="20px" class="mr-3">Save</a>-->
      </div>
    </div>
  </div>
  <!------------- save Buttons ------------>
  